SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CurrencyRatesListForSnapshotID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CurrencyRatesListForSnapshotID]
GO




CREATE PROCEDURE dbo.usp_CurrencyRatesListForSnapshotID 
  @iSnapshotID bigint
AS
  set nocount on
  select currency as [Currency], CurrencyRates.currencyCode as [Currency Code], rate as [Exchange Rate]
    from CurrencyRates
    join Currencies on (CurrencyRates.currencyCode = Currencies.CurrencyCode)
    where SnapshotID = @iSnapshotID
    order by currency






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

