SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_BenchmarkSplitActivate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_BenchmarkSplitActivate]
GO


CREATE PROCEDURE dbo.usp_BenchmarkSplitActivate

	(
		@lSnapshotId	bigint
	)

AS
	SET NOCOUNT ON

	/* Deactivate existing snapshots for the asset fund */
	UPDATE	BenchmarkSplit
	SET		active = 0
	WHERE	snapshotID <> @lSnapshotID
	  AND	assetFundID IN 
			(
				SELECT	assetFundID
				FROM	BenchmarkSplit
				WHERE	snapshotID = @lSnapshotID
				  AND	deleted = 0
			)
			
	/* Activate new snapshot */
	UPDATE	BenchmarkSplit
	SET		active = 1
	WHERE	snapshotID = @lSnapshotID
	
	SET NOCOUNT OFF


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

