SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UsersSetLastCompanyForLoginID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UsersSetLastCompanyForLoginID]
GO







CREATE procEDURE dbo.usp_UsersSetLastCompanyForLoginID 
  @sCompanyID varchar(10)
AS
  update users
    set lastCompany = @sCompanyID
  where loginID = SYSTEM_USER







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

