SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_BenchmarkSplitClear]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_BenchmarkSplitClear]
GO


CREATE PROCEDURE dbo.usp_BenchmarkSplitClear

	(
		@AssetFundID	char(8)
	)

AS
	SET NOCOUNT ON

	UPDATE	
		BenchmarkSplit
	SET		
		deleted = 1
	where 
		assetfundid=@AssetFundID
	
	SET NOCOUNT OFF


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

