SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CurrencyRatesActivate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CurrencyRatesActivate]
GO






CREATE PROCEDURE dbo.usp_CurrencyRatesActivate
  @iSnapshotID bigint
AS
  set nocount on
  update CurrencyRates
    set active = 0
    where SnapshotID <> @iSnapshotID and
			companycode in  (select companycode from CurrencyRates where SnapshotID = @iSnapshotID)
           and  currencyCode in (select currencyCode from CurrencyRates where SnapshotID = @iSnapshotID)
  update CurrencyRates
    set active = 1
  where SnapshotID = @iSnapshotID
  set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

