SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_HolidaysGet]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_HolidaysGet]
GO






CREATE procEDURE [dbo].[usp_HolidaysGet] AS

SET NOCOUNT ON

SELECT * FROM Holidays WITH (NOLOCK)

SET NOCOUNT OFF





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

