SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CountryDelete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CountryDelete]
GO



/****** Object:  Stored Procedure dbo.usp_CurrencyDelete    Script Date: 09/08/2005 15:05:37 ******/

/****** Object:  Stored Procedure dbo.usp_CurrencyDelete    Script Date: 09/08/2005 09:17:16 ******/
CREATE PROCEDURE dbo.usp_CountryDelete
/*
	Flag currency to delete
*/
(
	  @countryCode VARCHAR(5)
	, @ts 		TIMESTAMP
)

AS

SET NOCOUNT OFF

DECLARE @retVal INT
SET @retVal = 0

-- Make sure country exists
SELECT     	COUNT(countryCode) AS COUNT
FROM         	dbo.Countries
GROUP BY 	countryCode, ts
HAVING      	countryCode = @countryCode 
	AND	ts = @ts

IF @@ROWCOUNT > 0 
	-- Update country regardless of current deleted state
	BEGIN
	UPDATE  dbo.Countries
	SET     deleted = 1
	WHERE   countryCode = @countryCode
	  AND	ts = @ts

	IF @@ROWCOUNT = 0 
		BEGIN
		RAISERROR('Concurrency violation', 11, 1)
		SET @retVal = -1
		END
	END
ELSE
	-- Report back to client if the currency does exist
	BEGIN
    	RAISERROR('The specified country (%s) does not exist within the database', 11, 1, @countryCode)
	SET @retVal = -1
	END

SET NOCOUNT ON

RETURN (@retVal)



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

