SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedAssetFundSplitListForSnapshotID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedAssetFundSplitListForSnapshotID]
GO






CREATE PROCEDURE dbo.usp_ImportedAssetFundSplitListForSnapshotID
@iSnapshotID bigint
AS
set nocount on
select assetFundId as [Asset Fund], 
	mi.indexName as [Market Index],
	round(proportion *100,4) as [Weighting],
	mi.countrycode as [Country]
from benchmarksplit bms
inner join marketIndices mi on bms.marketIndexId = mi.marketIndexId
where SnapshotId = @iSnapshotID
set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

