SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_DistributionFileAssociateFundGroup]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_DistributionFileAssociateFundGroup]
GO















CREATE         PROCEDURE dbo.usp_DistributionFileAssociateFundGroup

--Associates the passed fund group with the passed file
--KAJ	12/05/2005

	@FileID					int,
	@FundGroupID				int,
	@FundGroupNumber			int=null,
	@UseMajorDenomination			bit,
	@NumberOfDecimalPlaces			smallint,
	@NumberOfSignificantDecimalPlaces 	smallint

AS

--Check that the passed Fund Group is set for release
IF (
	SELECT		ForRelease
	FROM		FundGroups
	WHERE		FundGroupID = @FundGroupID
) = 0
	BEGIN
		RAISERROR ('A Distribution File cannot be associated with a non-release type Fund Group', 11, 1)
		RETURN (-1)
	END
ELSE
	BEGIN

		INSERT INTO FundGroupsInFiles
		(
			FundGroupID,
			FileID,
			FundGroupNumber,
			UseMajorDenomination,
			NumberOfDecimalPlaces,
			NumberOfSignificantDecimalPlaces
		)
		VALUES
		(
			@FundGroupID,
			@FileID,
			@FundGroupNumber,
			@UseMajorDenomination,
			@NumberOfDecimalPlaces,
			@NumberOfSignificantDecimalPlaces
		)
	END	












GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

