SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[aaa_AuthorisedFundPriceUnRelease]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[aaa_AuthorisedFundPriceUnRelease]
GO




CREATE    PROCEDURE [dbo].[aaa_AuthorisedFundPriceUnRelease]
	@cHiPortfolioCode char(10),
	@ts timestamp
AS

set nocount on

--declarations
declare @currentStatus int
declare @today datetime

--set todays date
set @today = dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode)

--check fund exists
if not exists(select hiPortfolioCode from funds where hiPortfolioCode = @cHiPortfolioCode)
	begin
		raiserror('Unknown fund code %s', 11, 1, @cHiPortfolioCode)
		return (-1)
	end

--check status
set @currentStatus = dbo.udf_getCurrentFundStatus(@cHiPortfolioCode, @today)
	if @currentStatus > 40
		begin
			raiserror('Fund status is already beyond released', 11, 1)
			return (-1)
		end

--check concurrency
select		ts
from		AuthorisedFundPrice
where		hiPortfolioCode = @cHiPortfolioCode
	and	ts = @ts

--update the status
if @@ROWCOUNT = 1
	execute usp_DailyFundStatusUpdate @cHiPortfolioCode, 30
else
	begin
		raiserror('Concurrency violation', 11, 1)
		return (-1)
	end



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

