SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundGetStaticData]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundGetStaticData]
GO




CREATE procEDURE dbo.usp_AssetFundGetStaticData

----Returns all static data properties of the passed asset fund
--KAJ 16/05/05

	@cAssetFundID char(8)

AS

set nocount on

SELECT		assetFundID,
		fullName,
		shortName,
		companyCode,
		fundType,
		PriceFileId,
		dbo.udf_getCurrencyCodeForAssetFund(assetFundID) as currencyCode,
		ts

FROM		AssetFunds

WHERE		assetFundID = @cAssetFundID
	AND	deleted = 0
set nocount off



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

