SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundsForStaticDataExportByCompanyCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundsForStaticDataExportByCompanyCode]
GO









CREATE procEDURE dbo.usp_AssetFundsForStaticDataExportByCompanyCode 
  @sCompanyCode varchar(10)
AS
  set nocount on
  select af.assetFundID, af.shortName, af.fullName, af.companyCode, af.fundType, 
	COALESCE ((SELECT TOP 1 ft.assetMovement FROM Funds f WITH (NOLOCK) 
						 INNER JOIN  FundTolerances ft WITH (NOLOCK) ON f.hiPortfolioCode = ft.hiPortfolioCode
							WHERE f.assetFundID = af.assetFundID AND f.deleted = 0 AND ft.InUse = 1), 0) 
AS assetMovementTolerance
    from AssetFunds  af WITH (NOLOCK)
    where af.deleted = 0 and companyCode = @sCompanyCode
  set nocount off







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

