SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[rrn_DistributionFilesGetForMaintenance]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[rrn_DistributionFilesGetForMaintenance]
GO





CREATE procEDURE dbo.rrn_DistributionFilesGetForMaintenance
AS
	SET NOCOUNT ON
	
	SELECT	FileID, 
			CompanyCode, 
			FileDesc, 
			Filepath, 
			Filename, 
			XsltLocation, 
			SprocName, 
			XsltSource 
	FROM	DistributionFiles 
	WHERE	deleted = 0
	
	RETURN 





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

