SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_MarketIndicesList]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_MarketIndicesList]
GO







CREATE procEDURE dbo.usp_MarketIndicesList AS
  set nocount on
  select marketIndexID, indexName, countryCode,[global], ts
    from marketindices
    where deleted = 0
    order by indexName
  set nocount on







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

