SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundsGetPriceDetailsForFundGroupID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundsGetPriceDetailsForFundGroupID]
GO












CREATE PROCEDURE dbo.usp_AssetFundsGetPriceDetailsForFundGroupID

	@iFundGroupID int

-- Return all the pricing information for all the asset funds in the passed fund group
-- KAJ 01/06/2005

-- Altered to use new view uvw_AssetFundPrices
-- RRN 10/08/2005


AS

set nocount on

--Get the data
select		
	--asset fund properties
		assetFundID,
		fullName,
		shortName,
		CompanyCode, 
		fundType,
	--price info
		assetUnitPrice,
		assetUnitPriceValuationPoint,
		assetUnitPriceMovement,
		previousAssetUnitPrice,
		assetFundLocked,
		authorisedAssetFundPriceID,
		assetMovementTolerance,
		tolerancesID,
		currencyRateSnapshotID,
		marketIndiciesSnapshotID,
		benchmarkSplitSnapshotID,
		ts,
		assetFundStatus,
	--currency info
		currencyCode,
		currencyCurrentRate,
		currencyPreviousRate
from		uvw_AssetFundPrices
WHERE		assetFundID  IN 
		(
			SELECT	fg.assetFundID
			FROM	assetFundsInFundGroups fg
			WHERE	fg.fundGroupID = @iFundGroupID
			  AND	fg.deleted = 0
		)
order by fullName














GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

