SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PriceFileGetStaticData]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PriceFileGetStaticData]
GO



/****** Object:  Stored Procedure dbo.usp_CountryGetStaticData    Script Date: 09/08/2005 11:21:35 ******/
/*
	Get Price File information for the static data screen

*/
CREATE PROCEDURE dbo.usp_PriceFileGetStaticData

(
	@FileId int
)

AS

DECLARE @retVal INT

SET NOCOUNT OFF
SET @retVal = 0

SELECT	 *
FROM       	dbo.PriceFiles
WHERE	PriceFilesId=@FileId
     AND		deleted = 0

IF @@ROWCOUNT = 0 
	BEGIN
	RAISERROR('No Files match the specified Id (%s)', 11, 1, @FileId)
	SET @retVal = -1
	END

SET NOCOUNT ON

RETURN (@retVal)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

