SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ReportDataGenerateHUPS]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ReportDataGenerateHUPS]
GO









CREATE PROCEDURE dbo.usp_ReportDataGenerateHUPS

@iFileID int

AS

SET NOCOUNT ON

DECLARE @lCompanyCode AS varchar(10) 
DECLARE @today AS SMALLDATETIME
DECLARE @tomorrow AS SMALLDATETIME

SELECT @lCompanyCode=CompanyCode from DistributionFiles where FileID=@iFileID
SELECT @today = dbo.udf_GetCurrentPricingDayForCompany(@lCompanyCode, null, null)
SELECT @tomorrow = dbo.udf_GetNextPricingDayForCompany(@lCompanyCode, null, null)

SELECT 
	dbo.udf_getExternalFundIdentifier(udf_DistributionData_1.hiPortfolioCode, 'HUPS')  AS ExternalFundIdentifier, 
	udf_DistributionData_1.valuationDate,
	COALESCE(dbo.udf_getFixedPrice('Creation',@iFileID,bidPrice,hiportfoliocode), 0) as CreationPrice,
	COALESCE(dbo.udf_getFixedPrice('Cancellation',@iFileID,0,hiportfoliocode), 0) as CancellationPrice,
	COALESCE(dbo.udf_getFixedPrice('Accumulation Bid',@iFileID,bidPrice,hiportfoliocode), bidprice) as AccumulationBidPrice,
	COALESCE(dbo.udf_getFixedPrice('Accumulation Offer',@iFileID,bidPrice,hiportfoliocode), CASE isdual WHEN 0 THEN bidPrice ELSE offerPrice END) as AccumulationOffer,
	COALESCE(dbo.udf_getFixedPrice('Accumulation Bare',@iFileID,bidPrice,hiportfoliocode), CASE isdual WHEN 0 THEN bidPrice ELSE bareprice END) as AccumulationBarePrice,
	COALESCE(dbo.udf_getFixedPrice('Income Bid',@iFileID,0,hiportfoliocode), 0) as IncomeBidPrice,
	COALESCE(dbo.udf_getFixedPrice('Income Offer',@iFileID,0,hiportfoliocode), 0) as IncomeOfferPrice,
	COALESCE(dbo.udf_getFixedPrice('Income Bare',@iFileID,0,hiportfoliocode), 0) as IncomeBarePrice,
	hiPortfolioCode
FROM  
	udf_DistributionData(@iFileID, @today, @tomorrow) udf_DistributionData_1

UNION 
--Make sure that the "special" fixed funds always come out on the export
SELECT Distinct
	dbo.udf_getExternalFundIdentifier(hiPortfolioCode, 'HUPS')  AS ExternalFundIdentifier, 
	null as valuationDate,
	dbo.udf_getFixedPrice('Creation',@iFileID,0,FixedPrices.hiportfoliocode) as CreationPrice,
	dbo.udf_getFixedPrice('Cancellation',@iFileID,0,FixedPrices.hiportfoliocode) as CancellationPrice,
	dbo.udf_getFixedPrice('Accumulation Bid',@iFileID,0,FixedPrices.hiportfoliocode) as AccumulationBidPrice,
	COALESCE(dbo.udf_getFixedPrice('Accumulation Offer',@iFileID,0,FixedPrices.hiportfoliocode),dbo.udf_getFixedPrice('Accumulation Bid',@iFileID,0,FixedPrices.hiportfoliocode)) as AccumulationOffer,
	dbo.udf_getFixedPrice('Accumulation Bare',@iFileID,0,FixedPrices.hiportfoliocode) as AccumulationBarePrice,
	dbo.udf_getFixedPrice('Income Bid',@iFileID,0,FixedPrices.hiportfoliocode) as IncomeBidPrice,
	dbo.udf_getFixedPrice('Income Offer',@iFileID,0,FixedPrices.hiportfoliocode) as IncomeOfferPrice,
	dbo.udf_getFixedPrice('Income Bare',@iFileID,0,FixedPrices.hiportfoliocode) as IncomeBarePrice,
	hiPortfolioCode
FROM
	FixedPrices 
Where Hiportfoliocode not in (select hiportfoliocode from udf_DistributionData(@iFileID, @today, @tomorrow)) 


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

