SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_DoesUserExistForLoginID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_DoesUserExistForLoginID]
GO









CREATE procEDURE dbo.usp_DoesUserExistForLoginID
  @sLoginID varchar(50)
AS
  set nocount on
  select count(loginID) from users where loginID=@sLoginID
  set nocount off









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

