SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_HBOSCompanyCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_HBOSCompanyCreate]
GO







CREATE procEDURE dbo.usp_HBOSCompanyCreate
  @sCompanyCode varchar(10),
  @sCompanyName varchar(50),
  @sDefaultImportSource varchar(255),
  @dtValuationPoint datetime
AS
  set nocount on
  insert into HBOSCompanies
    (companyCode, companyName, valuationPoint, defaultImportSource, deleted)
    values (@sCompanyCode, @sCompanyName, @dtValuationPoint, @sDefaultImportSource, 1)
  if @@ROWCOUNT = 0 
  begin
    raiserror('Concurrency violation', 11, 1)
    return (-1)
  end
  set nocount off





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

