SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ReportDataGenerateHLLFT]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ReportDataGenerateHLLFT]
GO

CREATE PROCEDURE dbo.usp_ReportDataGenerateHLLFT
@iFileID int

AS

SET NOCOUNT ON

DECLARE @lCompanyCode AS varchar(10) 
DECLARE @today AS SMALLDATETIME
DECLARE @tomorrow AS SMALLDATETIME

SELECT @lCompanyCode=CompanyCode from DistributionFiles where FileID=@iFileID
SELECT @today = dbo.udf_GetCurrentPricingDayForCompany(@lCompanyCode, null, null)
SELECT @tomorrow = dbo.udf_GetNextPricingDayForCompany(@lCompanyCode, null, null)


	SELECT 
		'# Halifax Life Limited' as SubHeading,
		dbo.udf_getExternalFundIdentifier(hiPortfolioCode, 'HMEXX')  AS ExternalFundIdentifier , 
		1 as IsHalifax,
		*
	FROM
		udf_DistributionData(@iFileID,@today,@tomorrow)
	WHERE
		not dbo.udf_getExternalFundIdentifier(hiPortfolioCode, 'HMEXX')  is null or 
		(dbo.udf_getExternalFundIdentifier(hiPortfolioCode, 'HMEXX') is null and dbo.udf_getExternalFundIdentifier(hiPortfolioCode, 'EMEXX') is null) 		
	UNION ALL
	SELECT 
		'# Equitable Life Assurance Society' as SubHeading,
		dbo.udf_getExternalFundIdentifier(hiPortfolioCode, 'EMEXX')  AS ExternalFundIdentifier , 0 as IsHalifax,
		*
	FROM 
		udf_DistributionData(@iFileID,@today,@tomorrow)
	WHERE
		not dbo.udf_getExternalFundIdentifier(hiPortfolioCode, 'EMEXX')  is null
	ORDER BY
		IsHalifax,
		FullName


	

	RETURN 

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

