SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportMissingAssetsFromPriceImport]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportMissingAssetsFromPriceImport]
GO

CREATE PROCEDURE dbo.usp_ImportMissingAssetsFromPriceImport

	(
		@extension char(3),
		@filename varchar(50),
		@companycode varchar(10),
		@snapshotid bigint
	) 

AS
	 SET NOCOUNT ON 

	if @filename=''
		begin
			SELECT    
				assetFundID
			FROM         
				dbo.AssetFunds 
			WHERE     
				deleted=0 and
				companycode=@companycode
				and assetfundid not in 
				(
					SELECT     
						distinct dbo.AssetFunds.assetFundID
					FROM         
						dbo.ImportedFundPrices INNER JOIN
										dbo.Funds ON dbo.ImportedFundPrices.hiPortfolioCode = dbo.Funds.hiPortfolioCode INNER JOIN
										dbo.AssetFunds ON dbo.Funds.assetFundID = dbo.AssetFunds.assetFundID
					WHERE     
						(dbo.ImportedFundPrices.snapshotID = @snapshotid)
				)
			ORDER BY dbo.AssetFunds.shortName
		end
	else
		begin
			SELECT    
				dbo.AssetFunds.assetFundID
			FROM         
				dbo.AssetFunds INNER JOIN
				dbo.PriceFiles ON dbo.AssetFunds.PriceFileId = dbo.PriceFiles.PriceFilesId
			WHERE     
				dbo.AssetFunds.deleted = 0  and 
				dbo.PriceFiles.deleted=0 and
				dbo.PriceFiles.extension=@extension and
				dbo.PriceFiles.filename=@filename and
				dbo.PriceFiles.companycode=@companycode and assetfundid not in 
				(
					SELECT     
						distinct dbo.AssetFunds.assetFundID
					FROM         
						dbo.ImportedFundPrices INNER JOIN
										dbo.Funds ON dbo.ImportedFundPrices.hiPortfolioCode = dbo.Funds.hiPortfolioCode INNER JOIN
										dbo.AssetFunds ON dbo.Funds.assetFundID = dbo.AssetFunds.assetFundID
					WHERE     
						(dbo.ImportedFundPrices.snapshotID = @snapshotid)
				)
			ORDER BY dbo.AssetFunds.shortName
		end
	RETURN 

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

