SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PriceFileDelete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PriceFileDelete]
GO



CREATE PROCEDURE dbo.usp_PriceFileDelete
/*
	Flag currency to delete
*/
(
	  @FileId int
	, @ts 		TIMESTAMP
)

AS

SET NOCOUNT OFF

DECLARE @retVal INT
SET @retVal = 0

-- Make sure item exists
SELECT     	COUNT(PriceFilesId) AS COUNT
FROM         	dbo.PriceFiles
GROUP BY 	PriceFilesId, ts
HAVING      	
	PriceFilesId = @FileId 
	AND	ts = @ts

IF @@ROWCOUNT > 0 
	-- Update regardless of current deleted state
	BEGIN
	UPDATE  dbo.PriceFiles
	SET     deleted = 1
	WHERE   PriceFilesId = @FileId 
	  AND	ts = @ts

	IF @@ROWCOUNT = 0 
		BEGIN
		RAISERROR('Concurrency violation', 11, 1)
		SET @retVal = -1
		END
	END
ELSE
	-- Report back to client if the currency does exist
	BEGIN
    	RAISERROR('The specified File (%s) does not exist within the database', 11, 1, @FileId)
	SET @retVal = -1
	END

SET NOCOUNT ON

RETURN (@retVal)



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

