if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundCreate]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE  procEDURE dbo.usp_FundCreate
	@hiPortfolioCode CHAR (10),
	@fullName VARCHAR (100),
	@shortName VARCHAR (50),
	@fundClassOrSeries CHAR (2),
	@fundType CHAR (1),
	@isMidPriceBidPrice BIT,
	@assetFundID CHAR (8),
	@fundOnHi3 BIT,
	@bIsDual bit,
	@bIsExDividend bit,
	@bIsLife bit,
	@sSecurityCode varchar(8),
	@bIsBenchmarkable bit

/* This procedure will update data table with a new row */
/*  Written by FSYS/MAW 05/12/02 */
--	KAJ	16/05/05	New Properties added
--	KAJ	22/11/05	Company Code column added
AS 
SET NOCOUNT ON

DECLARE @companyCode VARCHAR(10)

--Store Company code from asset fund
SELECT		@companyCode = companyCode
FROM		AssetFunds
WHERE		assetFundID = @assetFundID

INSERT INTO	dbo.FUNDS
(	[hiPortfolioCode] ,
	[fullName] ,
	[shortName] ,
	[fundClassOrSeries] ,
	[fundType] ,
	[isMidPriceBidPrice] ,
	[assetFundID] ,
	[fundOnHi3] ,
	[fundSpecificValuationPoint] ,
	[isDual] ,
	[isExDividend] ,
	[isLife],
	[securityCode],
	[IsBenchmarkable],
	[companyCode]
)

VALUES (@hiPortfolioCode ,
	@fullName ,
	@shortName ,
	@fundClassOrSeries ,
	@fundType ,
	@isMidPriceBidPrice,
	@assetFundID ,
	@fundOnHi3 ,
	NULL ,
	@bisDual ,
	@bisExDividend ,
	@bisLife,
	@sSecurityCode,
	@bIsBenchmarkable,
	@companyCode
)

IF @@ROWCOUNT = 0 
begin
    RAISERROR ('Concurrency violation', 11, 1)
    return (-1)
  end
SET NOCOUNT OFF

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

