SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ClientVersionCheck]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ClientVersionCheck]
GO




CREATE procEDURE dbo.usp_ClientVersionCheck

	(
		@majorVersion    INT,
		@minorVersion    INT,
		@buildVersion    INT,
		@revisionVersion INT,		
		@clientIsOk      BIT          OUTPUT
	)

AS
	SET NOCOUNT ON
	
	SET @clientIsOk = 0
	
	IF (EXISTS(
				SELECT	1
				FROM	ClientVersions
				WHERE	(
							Major = @majorVersion
						OR
							Major < 0
						)
				AND
						(
							Minor = @minorVersion
						OR
							Minor < 0
						)
				AND
						(
							Build = @buildVersion
						OR
							Build < 0
						)
				AND
						(
							Revision = @revisionVersion
						OR
							Revision < 0
						)
			)
	)
		SET @clientIsOk = 1
	ELSE
		SET @clientIsOk = 0
	
	RETURN 




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

