SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UserIsValid]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UserIsValid]
GO






CREATE procEDURE dbo.usp_UserIsValid
AS
  set nocount on
  select count(loginID) as IsValid from Users where loginID = SYSTEM_USER and deleted = 0
  set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

