SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGroupsGetLookupsForCompanyCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGroupsGetLookupsForCompanyCode]
GO











CREATE procEDURE dbo.usp_FundGroupsGetLookupsForCompanyCode
  @sCompanyCode varchar(10)
as
set nocount on 
select fundGroupID, shortName
  from fundGroups
  where companyCode = @sCompanyCode and
           deleted = 0
           order by shortname
set nocount off











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

