SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_TaxProvisionFactorCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_TaxProvisionFactorCreate]
GO
















CREATE         PROCEDURE dbo.usp_TaxProvisionFactorCreate
	@cHiPortfolioCode 	char(10),
	@dProvisionEstimate	decimal(9,5),
	@newFactorID		INT OUTPUT	-- SJR 24 May 2005, Return the new factor ID

AS
  set nocount on

-- Update old factors for todays date to be deleted.
-- May update no rows if this is the first factor for the day, but simpler than checking and then updating the rows.
update taxProvisionFactor
set deleted = 1
where hiPortfolioCode = @cHiPortfolioCode
and deleted = 0
-- Insert the new factor
insert into taxProvisionFactor( hiPortfolioCode , provisionEstimate , effectiveDate , deleted )
values( @cHiPortfolioCode , @dProvisionEstimate , dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode), 0 )

-- Get the newly inserted rows id
set @newFactorID = SCOPE_IDENTITY()

-- Make sure we managed to insert a record
if @@ROWCOUNT = 0 
	begin
		raiserror('Concurrency violation', 11, 1)
		return (-1)
	end

set nocount off












GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

