SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UsersCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UsersCreate]
GO









CREATE  procEDURE dbo.usp_UsersCreate
  @sLoginID varchar(50),
  @sUserName varchar(50)
AS
  set nocount on


	if (select count(loginid) from users where loginid=@sLoginID)>0
	 	update users 
    		set 
			userName=@sUserName,
			deleted = 0
		where 
			users.loginID = @sLoginID 
	else
	  	insert into users 
			(
				loginID, 
				userName, 
				deleted
			) 
		values 
			(
				@sLoginID, 
				@sUserName, 
				0
			)
  set nocount off









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

