SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ReportDataGenerateNew]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ReportDataGenerateNew]
GO




CREATE PROCEDURE dbo.usp_ReportDataGenerateNew

@iFileID int

-- KAJ 11/10/2005
-- Added conditional order by clause so FT HIFM extract would be ordered by Hicode

AS

SET NOCOUNT ON

DECLARE @lCompanyCode AS varchar(10) 
DECLARE @today AS SMALLDATETIME
DECLARE @tomorrow AS SMALLDATETIME

SELECT @lCompanyCode=CompanyCode from DistributionFiles where FileID=@iFileID
SELECT @today = dbo.udf_GetCurrentPricingDayForCompany(@lCompanyCode, null, null)
SELECT @tomorrow = dbo.udf_GetNextPricingDayForCompany(@lCompanyCode, null, null)




SELECT 
	dbo.udf_getExternalFundIdentifierByFileId(hiPortfolioCode, @iFileID) AS ExternalFundIdentifier,
	*
FROM
	udf_DistributionData(@iFileID,@today,@tomorrow)
ORDER BY 
	CASE @iFileID
	WHEN 5 THEN
		HiPortfolioCode
	ELSE
		dbo.udf_getExternalFundIdentifierByFileId(hiPortfolioCode, @iFileID)		
	END
, isInitialUnits





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

