SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_StockMarketListForCountryCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_StockMarketListForCountryCode]
GO







CREATE procEDURE dbo.usp_StockMarketListForCountryCode 
(
	@CountryCode char(3)
) AS
  set nocount on
  
  SELECT     
	marketIndexID, indexName, countryCode, [global],ts
  FROM         
	dbo.MarketIndices
  WHERE     
	(deleted = 0) AND (countryCode = @CountryCode)
  ORDER BY 
	indexName
  set nocount on







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

