SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGroupAssociateFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGroupAssociateFund]
GO












CREATE      PROCEDURE dbo.usp_FundGroupAssociateFund

--Associates the passed fund with the passed fund group
--KAJ	12/05/2005

@cHiportFolioCode	char(10),
@iFundGroupID		int

AS

--Check that the passed Fund Group is set up for Funds
IF (
	SELECT		ContainsType
	FROM		FundGroups
	WHERE		FundGroupID = @iFundGroupID
) <> 'I'
	BEGIN
		RAISERROR ('A Fund cannot be added to a Fund Group set up for Asset Funds', 11, 1)
		RETURN (-1)
	END
ELSE
	BEGIN
		INSERT INTO	FundsInFundGroups
		(
			FundGroupID,
			HiPortfolioCode
		)
		VALUES
		(
			@iFundGroupID,
			@CHiPortfolioCode
		)
	END











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

