SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_StockMarketGetStaticData]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_StockMarketGetStaticData]
GO



CREATE PROCEDURE dbo.usp_StockMarketGetStaticData

(
	@marketIndex int
)

AS

DECLARE @retVal INT

SET NOCOUNT OFF
SET @retVal = 0

SELECT	  MarketIndexId
		, indexName
		, CountryCode
		, [global]
		, ts
FROM       	
	dbo.marketindices
WHERE	
	MarketIndexId = @marketIndex
     AND		deleted = 0
ORDER BY 	
	indexName

IF @@ROWCOUNT = 0 
	BEGIN
	RAISERROR('No market matches the specified market index (%s)', 11, 1, @marketIndex)
	SET @retVal = -1
	END

SET NOCOUNT ON

RETURN (@retVal)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

