SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGetLookupsForCompanyCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGetLookupsForCompanyCode]
GO















CREATE        PROCEDURE dbo.usp_FundGetLookupsForCompanyCode

--Returns all funds for the passed Company
--KAJ 13/05/05

  @sCompanyCode varchar(10)

AS

SET NOCOUNT ON

SELECT		f.HiPortFolioCode,
		f.ShortName

FROM		Funds f

INNER JOIN	AssetFunds a
ON		f.AssetFundID = a.AssetFundID

WHERE		a.CompanyCode = @sCompanyCode
	AND	f.deleted = 0

ORDER BY	f.ShortName











GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

