SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedFundPricesListForSnapshotID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedFundPricesListForSnapshotID]
GO




CREATE PROCEDURE dbo.usp_ImportedFundPricesListForSnapshotID 
  @iSnapshotID bigint
AS
  set nocount on
  select fullName as [Fund Name], 
           (case valuationBasis
             when 'B' then bidPrice
             when 'O' then offerPrice
             when 'M' then
               case Funds.IsMidPriceBidPrice
                 when 1 then bidPrice
                 when 0 then (bidPrice + offerPrice) / 2
                 end
               end) as [Price],
           currencyCode as [Currency Code]
    
    from ImportedFundPrices
      join Funds on (ImportedFundPrices.hiPortfolioCode = Funds.hiPortfolioCode)
    where SnapshotID = @iSnapshotID
    order by fullName






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

