SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundsGetLookupsForCompanyCodeByType]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundsGetLookupsForCompanyCodeByType]
GO












CREATE PROCEDURE dbo.usp_AssetFundsGetLookupsForCompanyCodeByType
	@sCompanyCode varchar(10),
	@cFundType char(1)
AS

set nocount on

SELECT		assetFundID,
		shortName

FROM		AssetFunds     

WHERE		deleted = 0
	AND	companyCode = @sCompanyCode
	AND	fundType = @cFundType
Order by shortName


set nocount off









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

