SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGetImportFieldsForCompanyCodeByFile]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGetImportFieldsForCompanyCodeByFile]
GO






CREATE PROCEDURE dbo.usp_FundGetImportFieldsForCompanyCodeByFile

--Returns all funds required by the price import process for the passed Company
--KAJ 13/05/05

  @CompanyCode varchar(10),
  @FileName varchar(50),
  @Extension char(3)

AS

SET NOCOUNT ON

-- get a small date time for midnight today
declare @today as smalldatetime
select @today = dbo.udf_GetCurrentPricingDayForCompany(@CompanyCode, null, null)
declare @tomorrow as smalldatetime
select @tomorrow = dbo.udf_GetNextPricingDayForCompany(@CompanyCode, null, null)

/*SELECT		
		f.HiPortFolioCode,
		a.AssetFundID,
		dfs.statusID,
		f.securityCode,
		f.FundType,
		f.isbenchmarkable

FROM		Funds f

INNER JOIN	AssetFunds a
ON		f.AssetFundID = a.AssetFundID

LEFT JOIN	dailyFundStatus dfs
ON		f.hiPortfolioCode = dfs.hiPortfolioCode
	AND	dfs.StatusDate >= @today
	AND	dfs.statusDate < @tomorrow

WHERE		a.CompanyCode = @sCompanyCode
	AND	f.deleted = 0
	AND	a.deleted = 0

ORDER BY	f.ShortName*/


SELECT     f.hiPortfolioCode, a.assetFundID, dfs.statusID, f.securityCode, f.fundType, f.isBenchmarkable
FROM         dbo.Funds f INNER JOIN
                      dbo.AssetFunds a ON f.assetFundID = a.assetFundID INNER JOIN
                      dbo.PriceFiles ON a.PriceFileId = dbo.PriceFiles.PriceFilesId LEFT OUTER JOIN
                      dbo.DailyFundStatus dfs ON f.hiPortfolioCode = dfs.hiPortfolioCode AND dfs.statusDate >= @today AND dfs.statusDate < @tomorrow
WHERE     (a.companyCode = @CompanyCode) AND (f.deleted = 0) AND (a.deleted = 0) AND (dbo.PriceFiles.FileName = @filename) AND 
                      (dbo.PriceFiles.Extension = @extension) AND (dbo.PriceFiles.CompanyCode = @companycode) AND (dbo.PriceFiles.deleted = 0)
ORDER BY f.shortName

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

