SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundsGetPriceDetailsForCompany]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundsGetPriceDetailsForCompany]
GO











CREATE PROCEDURE dbo.usp_AssetFundsGetPriceDetailsForCompany

	@cCompanyCode varchar(10)

-- Return all the pricing information for all the asset funds in the passed company
-- KAJ 01/06/2005

-- Altered to use new view uvw_AssetFundPrices
-- RRN 10/08/2005

AS

set nocount on

select		
	--asset fund properties
		assetFundID,
		fullName,
		shortName,
		CompanyCode, 
		fundType,
	--price info
		assetUnitPrice,
		assetUnitPriceValuationPoint,
		assetUnitPriceMovement,
		previousAssetUnitPrice,
		assetFundLocked,
		authorisedAssetFundPriceID,
		assetMovementTolerance,
		tolerancesID,
		currencyRateSnapshotID,
		marketIndiciesSnapshotID,
		benchmarkSplitSnapshotID,
		ts,
		assetFundStatus,
	--currency info
		currencyCode,
		currencyCurrentRate,
		currencyPreviousRate
from		uvw_AssetFundPrices
WHERE		companyCode = @cCompanyCode
order by 	fullName













GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

