SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UsersStaticDataExport]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UsersStaticDataExport]
GO






CREATE procEDURE dbo.usp_UsersStaticDataExport

	(
		@CompanyCode varchar(50)
	)

AS
	SELECT     U.loginID,U.userName,dbo.Permission.DisplayName,  cast(0 AS bit) AS Granted
	FROM         dbo.Permission CROSS JOIN
						dbo.Users U
	WHERE    (dbo.Permission.IsGroup = 0)  and (U.deleted=0) and  dbo.Permission.PermissionId NOT IN
							(SELECT       dbo.Permission.PermissionId
			FROM         dbo.Users INNER JOIN
                      dbo.CompanyUserPermission ON dbo.Users.loginID = dbo.CompanyUserPermission.loginID INNER JOIN
                      dbo.CompanyPermission ON dbo.CompanyUserPermission.CompanyPermissionId = dbo.CompanyPermission.CompanyPermissionId INNER JOIN
                      dbo.Permission ON dbo.CompanyPermission.PermissionId = dbo.Permission.PermissionId
WHERE     dbo.CompanyPermission.companycode=@CompanyCode  and (dbo.Users.deleted=0)  and (dbo.Users.loginID = U.loginID)  AND (dbo.Permission.IsGroup = 0)) 
	UNION
	SELECT      Users.loginid,username, displayname,   cast(1 AS bit) AS Granted
			FROM         dbo.Users  INNER JOIN
			                      dbo.CompanyUserPermission ON dbo.Users.loginID = dbo.CompanyUserPermission.loginID INNER JOIN
			                      dbo.CompanyPermission ON dbo.CompanyUserPermission.CompanyPermissionId = dbo.CompanyPermission.CompanyPermissionId INNER JOIN
			                      dbo.Permission ON dbo.CompanyPermission.PermissionId = dbo.Permission.PermissionId
			WHERE     dbo.CompanyPermission.companycode=@CompanyCode and (dbo.Users.deleted=0) and (dbo.Users.loginID = Users.loginID)  AND (dbo.Permission.IsGroup = 0)
	ORDER BY  loginid,username, displayname

 





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

