SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ReportDataGenerateBoxExtract]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ReportDataGenerateBoxExtract]
GO

















CREATE         procEDURE dbo.usp_ReportDataGenerateBoxExtract
	 @iFileID int
AS
  set nocount on

DECLARE @lCompanyCode AS varchar(10)  
DECLARE @today AS SMALLDATETIME
DECLARE @tomorrow AS SMALLDATETIME
 
SELECT @lCompanyCode=CompanyCode from DistributionFiles where FileID=@iFileID 
select @today = dbo.udf_GetCurrentPricingDayForCompany(@lCompanyCode, null, null)
select @tomorrow = dbo.udf_GetNextPricingDayForCompany(@lCompanyCode, null, null)
 
     SELECT DISTINCT 
   		AssetFunds.assetFundId as HiPortfolioCode,
		Funds.fundClassOrSeries,
		CASE ISNUMERIC(dbo.Funds.fundClassOrSeries) WHEN 1 THEN CAST (dbo.Funds.fundClassOrSeries AS INT) ELSE dbo.Funds.fundClassOrSeries END AS HiPortfolioPriceSeriesCode, 
		COALESCE(dbo.udf_getExternalFundIdentifier(funds.hiPortfolioCode, 'CMED'),'')  AS CMEDCode, 
		COALESCE(dbo.udf_getExternalFundIdentifier(funds.hiPortfolioCode, 'CMMF'),'')  AS CMMFCode , 
		COALESCE(dbo.udf_getExternalFundIdentifier(funds.hiPortfolioCode, 'HECM'),'')  AS HECMCode , 
		COALESCE(dbo.udf_getExternalFundIdentifier(funds.hiPortfolioCode, 'STCK'),'')  AS STCKCode , 
		COALESCE(dbo.udf_getExternalFundIdentifier(funds.hiPortfolioCode, 'SEDOL'),'')  AS SEDOLCode , 
		''  AS MELONCode , 
		authorisedFundPrice.currencyCode as FundCurrency,
		dbo.udf_ApplyDenominationToPrice(COALESCE(authorisedFundPrice.Price,0),funds.hiPortfolioCode,@iFileId) as DistributedPrice,
		dbo.udf_ApplyDenominationToPrice(COALESCE(authorisedFundPrice.DistributedOfferPrice,0),funds.hiPortfolioCode,@iFileId) as DistributedOfferPrice
	FROM         
		DistributionFiles INNER JOIN
                         uvw_FundsAvailableForDistribution ON DistributionFiles.FileID = uvw_FundsAvailableForDistribution.FileID LEFT OUTER JOIN
                         Funds LEFT OUTER JOIN
                         ImportedFundPrices ON Funds.hiPortfolioCode = ImportedFundPrices.hiPortfolioCode LEFT OUTER JOIN
                         AssetFunds ON Funds.assetFundID = AssetFunds.assetFundID ON 
                         uvw_FundsAvailableForDistribution.hiPortfolioCode = Funds.hiPortfolioCode LEFT OUTER JOIN
                         AuthorisedFundPrice ON Funds.hiPortfolioCode = AuthorisedFundPrice.hiPortfolioCode
  WHERE     (uvw_FundsAvailableForDistribution.FileID = @iFileID) AND (ImportedFundPrices.active = 1) AND (AuthorisedFundPrice.deleted = 0) AND 
                           (ImportedFundPrices.deleted = 0) 

-- This block remvoed by MISDC/MAW 17/08/05 for CR15 (Partial Distribution)
--PJN 26/9/05 Commented back in as we'd forgotten the reason for commenting out and to resolve UAT issue UA146
	AND (AuthorisedFundPrice.authorisationDate >= @today) AND (AuthorisedFundPrice.authorisationDate < @tomorrow)


ORDER BY AssetFunds.assetFundID, Funds.fundClassOrSeries


















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

