SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGetStaticData]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGetStaticData]
GO






CREATE  PROCEDURE dbo.usp_FundGetStaticData

--Returns all static data properties of the passed fund
--KAJ 13/05/05

  @cHiPortfolioCode char(10)

AS

SET NOCOUNT ON

-- get a small date time for midnight today
declare @today as smalldatetime
select @today = dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode)
declare @tomorrow as smalldatetime
select @tomorrow = dbo.udf_GetNextPricingDayForCompany(null, null, @cHiPortfolioCode)

SELECT		f.HiPortFolioCode,
		f.FullName,
		f.ShortName,
		f.FundClassOrSeries,
		f.FundType,
		f.IsDual,
		f.IsExDividend,
		f.IsLife,
		f.IsMidPriceBidPrice,
		f.AssetFundID,
		f.FundOnHi3,
		f.securityCode,
		COALESCE(xf.xFactor, 0) xFactor,
		COALESCE(xf.narrative, '') xFactorNarrative,
		xf.xFactorID,
		xf.ts xFactorTimestamp,
		COALESCE(sf.scalingFactor, 0) scalingFactor,
		sf.scalingFactorID,
		sf.ts scalingFactorTimestamp,
		COALESCE(tf.provisionEstimate, 0) taxProvisionFactor,
		tf.taxProvisionFactorID,		
		tf.ts taxProvisionTimestamp,
		COALESCE(rf.totalChange, 0) revaluationEffect,
		rf.effectiveDate revaluationEffectiveDate,
		rf.endDate revaluationEndDate,
		rf.revaluationFactorID,
		rf.ts revaluationTimestamp,
		ft.assetMovement assetMovementTolerance,
		ft.lowerTolerance,
		ft.upperTolerance,
		ft.priceIncreaseOnly,
		ft.tolerancesID,
		ft.ts tolerancesTs,
		dfs.statusID,
		f.ts,
		f.isBenchmarkable,
		af.companyCode

FROM		Funds f

-- TG 26/9/05  Joined with AssetFunds to return companyCode of the AssetFund

LEFT JOIN	AssetFunds af
ON		f.assetFundID = af.assetFundID

LEFT JOIN	(SELECT		hiPortfolioCode,
				xFactor,
				narrative,
				xFactorID,
				ts
		FROM		xFactor
		WHERE		appliedDate >= @today
			AND	appliedDate < @tomorrow
			AND	deleted = 0) xf
ON		f.hiPortfolioCode = xf.hiPortfolioCode

LEFT JOIN	(SELECT		hiPortfolioCode,
				scalingFactor,
				scalingFactorID,
				ts
		FROM		scalingFactor
		WHERE		appliedDate >= @today
			AND	appliedDate < @tomorrow
			AND	deleted = 0) sf
ON		f.hiPortfolioCode = sf.hiPortfolioCode

--NB TPE factors are effective on each day following their creation (so no < @tomorrow check)
LEFT JOIN	(SELECT		hiPortfolioCode,
				provisionEstimate,
				taxProvisionFactorID,
				ts
		FROM		taxProvisionFactor
		WHERE		deleted = 0) tf
ON		f.hiPortfolioCode = tf.hiPortfolioCode

LEFT JOIN	(SELECT		hiPortfolioCode,
				totalChange,
				effectiveDate,
				endDate,
				revaluationFactorID,
				ts
		FROM		revaluationFactor
		WHERE		effectiveDate <=  @today
			AND	endDate >= @today
			AND	deleted = 0) rf
ON		f.hiPortfolioCode = rf.hiPortfolioCode

LEFT JOIN	(SELECT		hiPortfolioCode,
				assetMovement,
				upperTolerance,
				lowerTolerance,
				priceIncreaseOnly,
				tolerancesID,
				ts
		FROM		fundTolerances
		WHERE		fundTolerances.inUse = 1) ft
ON		f.hiPortfolioCode = ft.hiPortfolioCode

LEFT JOIN	dailyFundStatus dfs
ON		f.hiPortfolioCode = dfs.hiPortfolioCode
	AND	dfs.StatusDate >= @today
	AND	dfs.statusDate < @tomorrow

WHERE		f.hiPortfolioCode = @cHiPortfolioCode
	AND	f.deleted = 0





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[usp_FundGetStaticData]  TO [public]
GO

