SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportSourceGetCurrent]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportSourceGetCurrent]
GO



CREATE PROCEDURE dbo.usp_ImportSourceGetCurrent 
  @sCompanyCode varchar(50)	
AS

declare @indexValuesImportID bigint
declare @currencyRatesImportID bigint
declare @indexWeightingsImportID bigint
declare @activepricingday datetime
declare @valuationpoint datetime
declare @fundPricesImportID bigint
declare @indexWeightingsImportDate datetime
declare @fundPricesImportDate datetime
declare @currencyRatesImportDate datetime
declare @indexValuesImportDate datetime
declare @indexValuesImportUserID varchar(50)
declare @indexValuesImportUserName varchar(50)
declare @indexValuesImportFileName varchar(512)
declare @currencyRatesImportFileName varchar(512)
declare @currencyRatesUserID varchar(50)
declare @currencyRatesUserName varchar(50)
declare @fundPricesImportUserID varchar(50)
declare @fundPricesImportUserName varchar(50)
declare @indexWeightingsImportUserID varchar(50)
declare @indexWeightingsImportUserName varchar(50)
declare @indexWeightingsImportFileName varchar(512)
declare @fundPricesImportFileName varchar(512)


set nocount on

select 
	@activepricingday=activepricingday ,
	@valuationpoint=valuationpoint
from 
	HBOSCompanies
where companycode=@sCompanyCode

-- Load the individual last import details
  
SELECT top 1 
	@indexValuesImportDate =dbo.Snapshot.snapshotdate, 
	@indexValuesImportID =dbo.ImportedIndexValues.snapshotID,
	@indexValuesImportUserID =dbo.Snapshot.UserId,
	@indexValuesImportUserName =dbo.ImportedIndexValues.lastchangedby,
	@indexValuesImportFileName =dbo.Snapshot.importfilename 
FROM         
	dbo.ImportedIndexValues INNER JOIN
                      dbo.Snapshot ON dbo.ImportedIndexValues.snapshotID = dbo.Snapshot.snapshotID
WHERE     
	(dbo.ImportedIndexValues.companyCode = @sCompanyCode) AND (dbo.ImportedIndexValues.deleted = 0)
			AND (dbo.ImportedIndexValues.active = 1)
ORDER BY 
	dbo.ImportedIndexValues.snapshotID DESC, dbo.Snapshot.snapshotDate DESC

SELECT     top 1   
	@currencyRatesImportDate =dbo.Snapshot.snapshotdate,
	@currencyRatesImportID =dbo.currencyRates.snapshotID,
	@currencyRatesUserID =dbo.Snapshot.UserId,
	@currencyRatesUserName =dbo.currencyRates.lastchangedby,
	@currencyRatesImportFileName =dbo.Snapshot.importfilename 
FROM         
	dbo.currencyRates INNER JOIN
                      dbo.Snapshot ON dbo.currencyRates.snapshotID = dbo.Snapshot.snapshotID
WHERE     
	(dbo.currencyRates.companyCode = @sCompanyCode) AND (dbo.currencyRates.deleted = 0)
			AND (dbo.currencyRates.active = 1)
ORDER BY 
	dbo.currencyRates.snapshotID DESC, dbo.Snapshot.snapshotDate DESC

SELECT     top 1  
	@fundPricesImportDate=dbo.Snapshot.snapshotdate,
	@fundPricesImportID =dbo.ImportedFundPrices.snapshotID	,
	@fundPricesImportUserID =dbo.Snapshot.UserId,
	@fundPricesImportUserName =dbo.ImportedFundPrices.lastchangedby,
	@currencyRatesImportFileName =dbo.Snapshot.importfilename 
FROM         
	dbo.ImportedFundPrices INNER JOIN
                      dbo.Snapshot ON dbo.ImportedFundPrices.snapshotID = dbo.Snapshot.snapshotID
WHERE      
	hiPortfolioCode in (select hiPortfolioCode from Funds join assetFunds on Funds.assetFundID = assetFunds.assetFundID where companyCode=@sCompanyCode)
	AND (dbo.ImportedFundPrices.deleted = 0) AND (dbo.ImportedFundPrices.active = 1)
ORDER BY 
	dbo.ImportedFundPrices.snapshotID DESC, dbo.Snapshot.snapshotDate DESC
  
SELECT     top 1  
	@indexWeightingsImportDate =dbo.Snapshot.snapshotdate,
	@indexWeightingsImportID =dbo.benchmarksplit.snapshotID,
	@indexWeightingsImportUserID =dbo.Snapshot.UserId,
	@indexWeightingsImportUserName =dbo.benchmarksplit.lastchangedby,
	@indexWeightingsImportFileName =dbo.Snapshot.importfilename 
FROM         
	dbo.benchmarksplit INNER JOIN
                      dbo.Snapshot ON dbo.benchmarksplit.snapshotID = dbo.Snapshot.snapshotID
WHERE     
	assetFundID in (select assetFundID from AssetFunds where companyCode=@sCompanyCode)
			AND (dbo.benchmarksplit.deleted = 0)  AND (dbo.benchmarksplit.active = 1)
ORDER BY 
	dbo.benchmarksplit.snapshotID DESC, dbo.Snapshot.snapshotDate DESC

  
  -- And finally select the details
select 
		@activepricingday as activepricingday,
		@valuationpoint as valuationpoint,
		@indexWeightingsImportDate as indexWeightingsImportDate,
		@fundPricesImportDate as fundPricesImportDate,
		@currencyRatesImportDate as currencyRatesImportDate,
		@indexValuesImportDate as indexValuesImportDate,
		@indexValuesImportID as indexValuesImportID,
		@indexValuesImportUserId as indexValuesImportedBy,
		@indexValuesImportUserName as indexValuesUser,
		@indexValuesImportFileName as indexValuesImportFileName ,
		@currencyRatesImportID as currencyRatesImportID,
		@currencyRatesUserId as currencyRatesImportedBy,
		@currencyRatesUserName as currencyRatesUser,
		@currencyRatesImportFileName as currencyRatesImportFileName,
		@indexWeightingsImportID as indexWeightingsImportID,
		@indexWeightingsImportUserId as indexWeightingsImportedBy,
		@indexWeightingsImportUserName as indexWeightingsUser,
		@indexWeightingsImportFileName as indexWeightingsImportFileName,
		@fundPricesImportID as fundPricesImportID,
		@fundPricesImportUserId as fundPricesImportedBy,
		@fundPricesImportUserName as fundPricesUser,
		@fundPricesImportFileName as fundPricesImportFileName
      /*  from SnapShot indexValuesImport
         left outer join users indexValuesUser on (indexValuesImport.userid = indexValuesUser.loginID)
         join SnapShot currencyRatesImport on (currencyRatesImport.snapshotid = @currencyRatesImportID)
           left outer join users currencyRatesUser on (currencyRatesImport.userid = currencyRatesUser.loginID)
       join SnapShot indexWeightingsImport on (indexWeightingsImport.snapshotid = @indexWeightingsImportID)
           left outer join users indexWeightingsUser on (indexWeightingsImport.userid = indexWeightingsUser.loginID)
         join SnapShot fundPricesImport on (fundPricesImport.snapshotid = @fundPricesImportID)
           left outer join users fundPricesUser on (fundPricesImport.userid = fundPricesUser.loginID)
       where indexValuesImport.snapshotid = @indexValuesImportID
 
 select top 1 @indexValuesValuationPoint=valuationPoint, @indexValuesImportID = importID
  from ImportedIndexValues  
  where companyCode = @sCompanyCode and deleted = 0 
  order by importID desc, valuationPoint desc
select top 1 @currencyRatesValuationPoint=valuationPoint, @currencyRatesImportID = importID
  from currencyRates
  where companyCode = @sCompanyCode and deleted = 0 
  order by importID desc, valuationPoint desc
select top 1 @indexWeightingsValuationPoint=valuationPoint, @indexWeightingsImportID = importID
  from AssetFundIndexWeightings
  where assetFundID in (select assetFundID from AssetFunds where companyCode=@sCompanyCode)
    and deleted = 0 
  order by importID desc, valuationPoint desc
select top 1 @fundPricesValuationPoint = valuationPoint, @fundPricesImportID = importID
  from ImportedFundPrices
  where hiPortfolioCode in (select hiPortfolioCode from Funds join assetFunds on Funds.assetFundID = assetFunds.assetFundID where companyCode=@sCompanyCode)
    and deleted = 0 
  order by importID desc, valuationPoint desc
-- Calculate the current active valuation point
declare @currentValuationPoint as datetime
set @currentValuationPoint = @indexValuesValuationPoint
if (@currencyRatesValuationPoint > @currentValuationPoint)
  set @currentValuationPoint = @currencyRatesValuationPoint  
if (@indexWeightingsValuationPoint > @currentValuationPoint)
  set @currentValuationPoint = @indexWeightingsValuationPoint  
if (@fundPricesValuationPoint > @currentValuationPoint)
  set @currentValuationPoint = @fundPricesValuationPoint
-- And finally select the details
select 
       @currentValuationPoint as currentValuationPoint,
       @indexValuesValuationPoint as indexValuesValuationPoint,
       @indexValuesImportID as indexValuesImportID,
       indexValuesImport.importedBy as indexValuesImportedBy,
       indexValuesUser.userName as indexValuesUser,
       indexValuesImport.importFileName as indexValuesImportFileName,
       indexValuesImport.importDate as indexValuesImportDate,
       @currencyRatesValuationPoint as currencyRatesValuationPoint,
       @currencyRatesImportID as currencyRatesImportID,
       currencyRatesImport.importedBy as currencyRatesImportedBy,
       currencyRatesUser.userName as currencyRatesUser,
       currencyRatesImport.importFileName as currencyRatesImportFileName,
 currencyRatesImport.importDate as currencyRatesImportDate,
       @indexWeightingsValuationPoint as indexWeightingsValuationPoint,
@indexWeightingsImportID as indexWeightingsImportID,
       indexWeightingsImport.importedBy as indexWeightingsImportedBy,
       indexWeightingsUser.userName as indexWeightingsUser,
       indexWeightingsImport.importFileName as indexWeightingsImportFileName,
       indexWeightingsImport.importDate as indexWeightingsImportDate,
       @fundPricesValuationPoint as fundPricesValuationPoint,
       @fundPricesImportID as fundPricesImportID,
       fundPricesImport.importedBy as fundPricesImportedBy,
      fundPricesUser.userName as fundPricesUser,
       fundPricesImport.importFileName as fundPricesImportFileName,
       fundPricesImport.importDate as fundPricesImportDate       
       from ImportSource indexValuesImport
         left outer join users indexValuesUser on (indexValuesImport.importedBy = indexValuesUser.loginID)
         join ImportSource currencyRatesImport on (currencyRatesImport.importID = @currencyRatesImportID)
    left outer join users currencyRatesUser on (currencyRatesImport.importedBy = currencyRatesUser.loginID)
         join ImportSource indexWeightingsImport on (indexWeightingsImport.importID = @indexWeightingsImportID)
           left outer join users indexWeightingsUser on (indexWeightingsImport.importedBy = indexWeightingsUser.loginID)
         join ImportSource fundPricesImport on (fundPricesImport.importID = @fundPricesImportID)
           left outer join users fundPricesUser on (fundPricesImport.importedBy = fundPricesUser.loginID)
       where indexValuesImport.importID = @indexValuesImportID
*/

set nocount off


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

