SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_DistributionFilesExecute]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_DistributionFilesExecute]
GO








CREATE procEDURE dbo.usp_DistributionFilesExecute
/* 
   Gets the stored procedure for a given distribution and executes it
   This requires that the stored proc takes a single parameter being 
   the distribution file id
*/

	(
		@iFileId int
	)

AS
	SET NOCOUNT ON
	
	DECLARE @SprocName VARCHAR(100)
	
	SELECT	@SprocName = SprocName
	FROM	DistributionFiles
	WHERE	FileId = @iFileId
	
	IF (@@ROWCOUNT = 1 AND @SProcName IS NOT NULL)
	BEGIN
		DECLARE @command VARCHAR(500)
		
		SELECT @command = @SprocName + ' ' + CAST(@iFileId AS VARCHAR)
		
		EXECUTE (@command)
	END
	
	
	RETURN 








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

