SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_BenchMarkGetAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_BenchMarkGetAll]
GO


CREATE  PROCEDURE dbo.usp_BenchMarkGetAll
AS
	SET NOCOUNT ON

	
	SELECT 
			f.hiPortfolioCode,
			CAST(NULL as INT) as marketIndexId,
			af.CompanyCode,
			f.FundType,
			f.ShortName BenchmarkName,
			dbo.udf_getCurrencyCodeForAssetFund2(af.assetFundId, h.activePricingDay, h.nextPricingDay) CurrencyCode,
			'' CountryCode

	FROM 		funds f

	INNER JOIN	assetfunds af
	on		f.assetfundid=af.assetfundid
	
	INNER JOIN	(SELECT		companyCode,
					activePricingDay,
					dbo.udf_GetNextWorkingDate(activePricingDay) nextPricingDay
			FROM		HBOSCompanies
			WHERE		deleted = 0) h
	ON		af.companyCode = h.companyCode

	WHERE 
		isBenchmarkable = 1 AND 
		f.deleted = 0
	  
	UNION ALL
	
	SELECT 
		CAST(NULL as CHAR(10)) as hiPortfolioCode,
	    marketIndexId,
	    '' CompanyCode,
		''	FundType,
		indexName BenchmarkName,
		dbo.udf_getCurrencyCodeForStockMarketIndex(marketIndexId)	CurrencyCode,
		CountryCode
	FROM 
		marketIndices
	WHERE 
		deleted = 0

	SET NOCOUNT ON
	RETURN 




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

