SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_XFactorCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_XFactorCreate]
GO










CREATE      PROCEDURE dbo.usp_XFactorCreate
	@cHiPortfolioCode 	char(10),
	@dXFactor		decimal(9,5),
	@sNarrative		varchar(1000),
	@newFactorID		INT OUTPUT	-- SJR 24 May 2005, Return the new factor ID

AS
  set nocount on

-- Update old xfactors for todays date to be deleted.
-- May update no rows if this is the first xfactor for the day, but simpler than checking and then updating the rows.
update xfactor
set deleted = 1
where hiPortfolioCode = @cHiPortfolioCode
and deleted = 0
-- Insert the new xfactor
insert into xfactor( hiPortfolioCode , xfactor , appliedDate , narrative, deleted )
values( @cHiPortfolioCode , @dXFactor , dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode), @sNarrative, 0 )

-- Get the newly inserted rows id
set @newFactorID = SCOPE_IDENTITY()

-- Make sure we managed to insert a record
  if @@ROWCOUNT = 0 
  begin
    raiserror('Concurrency violation', 11, 1)
    return (-1)
  end
  
  set nocount off









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

