SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundIndexWeightingsImport]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundIndexWeightingsImport]
GO



CREATE PROCEDURE dbo.usp_AssetFundIndexWeightingsImport
	@SnapshotID	int
AS
set nocount on

-- Insert the values into AssetFundIndexWeightings
insert into BenchmarkSplit( 
	SnapshotID , 
	assetFundId , 
	marketIndexId,
	active,
	proportion)
select 	
	@SnapshotID , 
	afsOuter.PrimaryKey , 
	dbo.udf_DetermineStockMarket(SecondaryKey,afsOuter.PrimaryKey) as marketIndexId,
	0 as Active,
	[importedvalue] /   
	(
		SELECT sum( importedvalue )
		FROM ImportedSplitWorkingTable afsInner
		WHERE afsInner.primarykey = afsOuter.primarykey
	) as proportion
from 
	ImportedSplitWorkingTable afsOuter
where 
	SnapshotID=@SnapshotID
-- Due to rounding down or up as we move into a 6 digit decimal field, the totals may add up to less than 1 or more than 1
update Benchmarksplit 
set proportion= proportion + 
	(
		-- Figure out much less than 1 the total is.
		select 1 - sum( proportion )
		from benchmarksplit innerQuery
		where SnapshotID = @SnapshotID
		and innerQuery.AssetFundId = outerQuery.AssetFundId
	)
from benchmarksplit outerQuery
where SnapshotID = @SnapshotID
and assetFundId in 
	(
		-- Which asset funds add up to less than 1 or more than 1
		select assetFundId
		from benchmarksplit lessThan1
		where SnapshotID = @SnapshotID
		group by assetFundId
		having sum( proportion ) < 1 
		or sum( proportion ) > 1 
	)
and proportion = 
	(
		-- Make sure we only update the maximum weighting
		select max( proportion)
		from benchmarksplit innerQuery
		where SnapshotID = @SnapshotID
		and innerQuery.AssetFundId = outerQuery.AssetFundId
	)
	
	exec usp_ImportedSplitWorkingTableClear @SnapshotID
set nocount off

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

