SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundsGetLookupsForCompanyCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundsGetLookupsForCompanyCode]
GO












CREATE procEDURE dbo.usp_AssetFundsGetLookupsForCompanyCode 
  @sCompanyCode varchar(10)
AS
  set nocount on
  select assetFundID, shortName
    from AssetFunds     
    where deleted = 0 and companyCode = @sCompanyCode
    order by fullName

  set nocount off












GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

