SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGetLookupsForFundGroupId]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGetLookupsForFundGroupId]
GO

















create         PROCEDURE dbo.usp_FundGetLookupsForFundGroupId

--Returns all funds for the passed Group
--KAJ 13/05/05

  @FundGroupId int

AS

SET NOCOUNT ON

SELECT		f.HiPortFolioCode,
		f.shortName,
		f.fundType,
		dbo.udf_getCurrentFundStatus (f.HiPortFolioCode, Companies.activePricingDay) as statusID,
		afp.ts AuthorisedPriceTimestamp
FROM		Funds f
	
	JOIN AssetFunds af
		ON f.AssetFundId=af.AssetFundId
	JOIN	
		(SELECT		
			companyCode,
			activePricingDay
		FROM		
			HBOSCompanies
		WHERE		
			deleted = 0) Companies
		ON		af.companyCode = Companies.companyCode
	LEFT JOIN (
		select		ts,hiPortfolioCode,authorisationDate
		from		authorisedFundPrice 
		where		deleted = 0
		) afp
		on f.HiPortFolioCode=afp.hiPortfolioCode and afp.authorisationDate = Companies.activePricingDay
WHERE		f.deleted = 0 AND
(
			f.hiPortfolioCode IN 
				(
					SELECT		HiPortfolioCode
					FROM		FundsInFundGroups fg
					WHERE		fg.FundGroupID = @FundGroupID
					  AND		fg.deleted = 0
				)
		OR
			f.assetFundID IN 
				(
					SELECT		fg.assetFundID
					FROM		assetFundsInFundGroups fg
					WHERE		fg.fundGroupID = @FundGroupID
					  AND		fg.deleted = 0
				)
		)


ORDER BY	f.ShortName













GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

