SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_StockMarketUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_StockMarketUpdate]
GO



CREATE PROCEDURE dbo.usp_StockMarketUpdate
(
		@marketIndexId		INT
		, @indexName			VARCHAR(50)
		, @global				BIT
		, @countryCode			VARCHAR(5)
		, @ts 					TIMESTAMP OUTPUT
)

AS

SET NOCOUNT OFF

DECLARE @retVal INT
SET @retVal = 0

UPDATE    
	dbo.marketindices
SET       
	countryCode = @countryCode,
	indexName = @indexName,
	[global]=@global
WHERE     
	MarketIndexId = @marketIndexId
	AND	  ts = @ts
	
IF @@ROWCOUNT = 0 
	BEGIN
	RAISERROR('Concurrency violation', 11, 1)
	SET @retVal = -1
	END	
ELSE
	BEGIN

	-- Get timeStamp from inserted row passing back to client
	SELECT @ts = ts
	FROM dbo.marketindices
	WHERE MarketIndexId = @marketIndexId
	END

SET NOCOUNT ON

RETURN (@retVal)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

