SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UserPermissionsUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UserPermissionsUpdate]
GO





CREATE PROCEDURE dbo.usp_UserPermissionsUpdate

	(
		@loginID varchar(50),
		@CompanyCode varchar(10),
		@PermissionId int,
		@Grant bit
	)

AS
	 SET NOCOUNT ON 
	 
	 DECLARE @CompanyPermissionId INT
	 
	 if @Grant=1
		BEGIN
			SELECT      @CompanyPermissionId=CompanyPermissionId
				FROM         dbo.Permission P INNER JOIN
									dbo.CompanyPermission C ON P.PermissionId = C.PermissionId 
				WHERE     (P.PermissionId = @PermissionId) AND (C.CompanyCode = @companycode) 
				AND  CompanyPermissionId not in
									(SELECT dbo.CompanyUserPermission.CompanyPermissionId 
									FROM dbo.CompanyUserPermission
									WHERE loginID=@loginID AND CompanyPermissionId=C.CompanyPermissionId)
									
			IF @CompanyPermissionId IS NOT NULL
			BEGIN
				INSERT INTO CompanyUserPermission (loginID,CompanyPermissionId)
				VALUES (@loginID,@CompanyPermissionId)
			END
		END
	ELSE
		BEGIN
		
			SELECT      @CompanyPermissionId=dbo.CompanyPermission.CompanyPermissionId
			FROM         dbo.Permission INNER JOIN
			                      dbo.CompanyPermission ON dbo.Permission.PermissionId = dbo.CompanyPermission.PermissionId 
			WHERE     (dbo.Permission.PermissionId = @PermissionId) AND (dbo.CompanyPermission.CompanyCode = @companycode) 
							
			DELETE FROM CompanyUserPermission where loginID=@loginID AND CompanyPermissionId=@CompanyPermissionId
		END
	 
	 
	RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

