SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportIsFileRelatedToCompany]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportIsFileRelatedToCompany]
GO

CREATE PROCEDURE dbo.usp_ImportIsFileRelatedToCompany

	(
		@fileName varchar(50),
		@extension char(3),
		@companyCode varchar(10)
	)

AS 
	declare @NumberFound int
	
	select 
		count(pricefilesid) 
	from 
		pricefiles 
	where 
		companycode=@companycode and 
		filename=@filename and
		extension=@extension and 
		deleted=0
	
	return 

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

