SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundDelete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundDelete]
GO







CREATE  PROCEDURE [dbo].[usp_FundDelete]

-- VLH	06/06/05	New version that deletes fund group associations

	@cHiPortfolioCode char(10),
	@ts timestamp
AS

set nocount on

--Set fund to deleted
UPDATE		funds
SET		deleted = 1
WHERE	hiPortfolioCode = @cHiPortfolioCode
	AND	ts=@ts

IF @@ROWCOUNT = 0 
BEGIN
	RAISERROR('Concurrency violation', 11, 1)
	RETURN (-1)
END
ELSE
BEGIN
	--Remove all fund group associations
	DELETE FROM	fundsInFundGroups
	WHERE hiPortfolioCode = @cHiPortfolioCode
END

set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

