SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_DistributionFilesGetForFundGroupID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_DistributionFilesGetForFundGroupID]
GO













CREATE   procEDURE dbo.usp_DistributionFilesGetForFundGroupID

--Returns all the distribution file info of those linked to the passed fund group
--KAJ 16/05/05
	@iFundGroupID int
AS

set nocount on

SELECT		d.fileID,
		d.[FileDesc],
		d.[Filename],
		d.Filepath,
		d.FundGroupNumberRequired,
		d.DecimalPlacesRequired,
		d.SignificantDecimalPlacesRequired,
		d.MajorDenominationRequired,
		ff.FundGroupNumber,
		ff.UseMajorDenomination,
		ff.NumberOfDecimalPlaces,
		ff.NumberOfSignificantDecimalPlaces,
		d.ts

FROM		DistributionFiles d

INNER JOIN	FundGroupsInFiles ff
ON		d.FileID = ff.FileID

WHERE		ff.FundGroupID = @iFundGroupID
AND			d.deleted = 0
AND			ff.deleted = 0

set nocount off












GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

