SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UserCompanyPermissions]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UserCompanyPermissions]
GO




CREATE PROCEDURE dbo.usp_UserCompanyPermissions

	(
		@LogOnID varchar(50),
		@CompanyCode varchar(10)
	)

AS
	 SET NOCOUNT ON 
	 SELECT     dbo.Permission.UniqueName
	 FROM         dbo.Permission INNER JOIN
	                       dbo.CompanyPermission ON dbo.Permission.PermissionId = dbo.CompanyPermission.PermissionId INNER JOIN
	                       dbo.CompanyUserPermission ON dbo.CompanyPermission.CompanyPermissionId = dbo.CompanyUserPermission.CompanyPermissionId
	 WHERE     (dbo.CompanyUserPermission.loginID = SYSTEM_USER) AND (dbo.CompanyPermission.CompanyCode = @CompanyCode) AND 
	                       (dbo.Permission.IsGroup = 0)
	RETURN




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

