SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_BenchmarkSplitGetAllByCompanyCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_BenchmarkSplitGetAllByCompanyCode]
GO


CREATE PROCEDURE dbo.usp_BenchmarkSplitGetAllByCompanyCode

	(
		@CompanyCode	VARCHAR(10)
	)

AS
	SET NOCOUNT ON 
	
		SELECT     bs.assetFundID,bs.hiPortfolioCode, bs.marketIndexID, bs.proportion, af.companyCode, dbo.MarketIndices.countryCode
		FROM         dbo.BenchmarkSplit bs INNER JOIN
		                      dbo.AssetFunds af ON bs.assetFundID = af.assetFundID AND af.deleted = 0 LEFT OUTER JOIN
		                      dbo.MarketIndices ON bs.marketIndexID = dbo.MarketIndices.marketIndexID
		WHERE     (af.companyCode = @CompanyCode) AND (bs.active = 1) AND (bs.deleted = 0)
		
	
	SET NOCOUNT OFF


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

