SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundsGetPriceDetailsForFundGroupID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundsGetPriceDetailsForFundGroupID]
GO




CREATE   PROC dbo.usp_FundsGetPriceDetailsForFundGroupID

-- Returns all the pricing information for all the funds is in the passed fund group
-- KAJ 27/05/05


-- Changed to use view uvw_FundPrices
-- RRN 09/08/2005


	@iFundGroupID int

AS

SELECT
--Fund properties
		dbo.udf_GetCurrentPricingDayForCompany(null,AssetFundID,null) as currentValuationDate,
		HiPortFolioCode,
		FullName,
		ShortName,
		FundClassOrSeries,
		FundType,
		IsDual,
		IsExDividend,
		IsLife,
		IsMidPriceBidPrice,
		AssetFundID,
		FundOnHi3,
		isBenchmarkable,
-- Factors	
		xFactor,
		xFactorNarrative,
		xFactorID,
		scalingFactor,
		scalingFactorID,
		taxProvisionFactor,
		taxProvisionFactorID,
		revaluationEffect,
		revaluationEffectiveDate,
		revaluationEndDate,
		revaluationFactorID,
		valuationBasisEffect,
		valuationBasisEffectID,    --returns null if fund not authorised
-- Tolerances
		assetMovementTolerance,
		lowerTolerance,
		upperTolerance,
		priceIncreaseOnly,
		tolerancesID,
-- Status
		statusID,
		statusChangedOn,
-- Pricing Details
		currentPrice,
		previousPrice,
		previousPriceFromPrediction,
		valuationPoint,
		fundPriceSnapshotID,
		authorisedPriceFromPrediction,
		ts,
		authorisedPriceTS
    
FROM	uvw_fundPrices fp
WHERE
		(
			fp.hiPortfolioCode IN 
				(
					SELECT		HiPortfolioCode
					FROM		FundsInFundGroups fg
					WHERE		fg.FundGroupID = @iFundGroupID
					  AND		fg.deleted = 0
				)
		OR
			fp.assetFundID IN 
				(
					SELECT		fg.assetFundID
					FROM		assetFundsInFundGroups fg
					WHERE		fg.fundGroupID = @iFundGroupID
					  AND		fg.deleted = 0
				)
		)
order by fp.FullName









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

