SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundNumberOfTimesUsedAsABenchmark]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundNumberOfTimesUsedAsABenchmark]
GO

CREATE PROCEDURE dbo.usp_FundNumberOfTimesUsedAsABenchmark

	(
		@HiPortFolioCode char(10)
	)

AS

	DECLARE @TimesUsed int
	
	SELECT     @TimesUsed = COUNT(benchmarkSplitID)
	FROM         dbo.BenchmarkSplit
	WHERE     (hiPortfolioCode = @Hiportfoliocode) AND (active = 1) AND (deleted = 0)
	
	select @TimesUsed
	RETURN 

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

