SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_HBOSCompanyGetForCompanyName]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_HBOSCompanyGetForCompanyName]
GO





CREATE  procEDURE dbo.usp_HBOSCompanyGetForCompanyName

  @sCompanyName varchar(50)

--KAJ 02/09/2005	Amended to return active Pricing Day field
-- TG 29/9/05           also select previous pricing date
AS

set nocount on

select	companyCode,
		companyName,
		valuationPoint,
		activePricingDay,	
		dbo.udf_GetNextPricingDayForCompany(companyCode,null,null) as nextPricingDay,
		defaultImportSource,
		ts,
		dbo.udf_GetPreviousPricingDayForCompany(companyCode,null,null) as previousPricingDay

from		HBOSCompanies

where		companyName = @sCompanyName
	and	deleted = 0

set nocount off




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[usp_HBOSCompanyGetForCompanyName]  TO [public]
GO

