SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CurrencyGetRatesForCompany]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CurrencyGetRatesForCompany]
GO



CREATE PROCEDURE dbo.usp_CurrencyGetRatesForCompany
/*
	Get the current and previous currency rates for a given company
*/
(
		  @currencyCode	VARCHAR(10)
		, @companyCode 	VARCHAR(10)
)

AS


DECLARE 	  @previousRate 	DECIMAL(18, 6)

BEGIN

-- Get the previous working days rate
SET @previousRate = (SELECT TOP 1   rate
			FROM    dbo.CurrencyRates
			WHERE   currencyCode = @currencyCode
			  AND	companyCode = @companyCode
			  AND	CONVERT(CHAR(10), valuationPoint, 102) = CONVERT(CHAR(10), dbo.udf_GetPreviousPricingDayForCompany(@companyCode,NULL,NULL), 102)
			  AND 	deleted = 0
			  AND	active = 0
			ORDER BY valuationPoint DESC)

-- If there is no previous rate then mark as unavailable
IF @previousRate IS NULL
	BEGIN	
	SET @previousRate = 0
	END

-- Get the current and previous rates for the currency and company
SELECT TOP 1   
	  rate 		AS currencyCurrentRate
	, @previousRate AS currencyPreviousRate
FROM    dbo.CurrencyRates
WHERE   currencyCode = @currencyCode
  AND	companyCode = @companyCode
  AND 	active = 1
  AND 	deleted = 0
ORDER BY valuationPoint DESC

-- When no rate for today default to zero
IF @@ROWCOUNT = 0
	BEGIN
	SELECT    CONVERT(DECIMAL(18, 6), 0) AS currencyCurrentRate
		, @previousRate AS currencyPreviousRate
	END

END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

