SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundsGetLookupsForPriceFile]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundsGetLookupsForPriceFile]
GO


CREATE procEDURE dbo.usp_AssetFundsGetLookupsForPriceFile 
  @PriceFileId int
AS
  set nocount on
  SELECT     dbo.AssetFunds.assetFundID, dbo.AssetFunds.shortName
  FROM         dbo.AssetFunds INNER JOIN
                        dbo.PriceFiles ON dbo.AssetFunds.PriceFileId = dbo.PriceFiles.PriceFilesId
  WHERE     (dbo.AssetFunds.deleted = 0) AND (dbo.PriceFiles.PriceFilesId = @PriceFileId) and dbo.PriceFiles.deleted=0
  ORDER BY dbo.AssetFunds.shortName

  set nocount off












GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

