SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundsGetPriceDetailsForHiPortfolioCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundsGetPriceDetailsForHiPortfolioCode]
GO



CREATE  PROC dbo.usp_FundsGetPriceDetailsForHiPortfolioCode

-- Returns all the pricing information for a single fund
-- RRN 09/08/2005

	@cHiPortfolioCode CHAR(10)
AS

SELECT
--Fund properties
		dbo.udf_GetCurrentPricingDayForCompany(null,AssetFundID,null) as currentValuationDate,
		HiPortFolioCode,
		FullName,
		ShortName,
		FundClassOrSeries,
		FundType,
		IsDual,
		IsExDividend,
		IsLife,
		IsMidPriceBidPrice,
		AssetFundID,
		FundOnHi3,
		IsBenchmarkable,
-- Factors	
		xFactor,
		xFactorNarrative,
		xFactorID,
		scalingFactor,
		scalingFactorID,
		taxProvisionFactor,
		taxProvisionFactorID,
		revaluationEffect,
		revaluationEffectiveDate,
		revaluationEndDate,
		revaluationFactorID,
		valuationBasisEffect,
		valuationBasisEffectID,    --returns null if fund not authorised
-- Tolerances
		assetMovementTolerance,
		lowerTolerance,
		upperTolerance,
		priceIncreaseOnly,
		tolerancesID,
-- Status
		statusID,
		statusChangedOn,
-- Pricing Details
		currentPrice,
		previousPrice,
		previousPriceFromPrediction,
		valuationPoint,
		fundPriceSnapshotID,
		authorisedPriceFromPrediction,
		ts,
		authorisedPriceTS
    
FROM	uvw_fundPrices 
WHERE	hiPortfolioCode = @cHiPortfolioCode








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

