SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UsersGetAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UsersGetAll]
GO





CREATE PROCEDURE dbo.usp_UsersGetAll
/*
	(
		@parameter1 datatype = default value,
		@parameter2 datatype OUTPUT
	)
*/
AS
	 SET NOCOUNT ON 
	 SELECT     dbo.Users.*
	 FROM         dbo.Users
	 WHERE     (deleted = 0) 
	RETURN 





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

