SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_DistributionFilesUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_DistributionFilesUpdate]
GO









CREATE procEDURE dbo.usp_DistributionFilesUpdate

	(
		@iFileId int
	)

AS
	SET NOCOUNT ON 

	DECLARE @lCompanyCode AS varchar(10) 
	SELECT @lCompanyCode=CompanyCode from DistributionFiles where FileID=@iFileID
	
	DECLARE @StatusToMoveTo int
	
	-- Update last distributed date
	
	UPDATE DistributionFiles
	SET LastDistributed = dbo.udf_GetCurrentPricingDayForCompany(@lCompanyCode,null,null),
	    VersionNumber   = VersionNumber + 1 
	WHERE FileId = @iFileId
	  AND deleted = 0
	    

	SELECT 
		@StatusToMoveTo=StatusToMoveTo
	FROM
		DistributionFiles
	WHERE 
		FileId = @iFileId
		
	if @StatusToMoveTo>0
	BEGIN
		-- Update funds as distributed

		DECLARE @hiPortCode CHAR(10)
		
		DECLARE funds_cursor CURSOR FOR
			SELECT	F.hiPortfolioCode
			FROM	uvw_FundsAvailableForDistribution F
			WHERE   F.FileId = @iFileId
			
		OPEN funds_cursor
		
		FETCH NEXT FROM funds_cursor
		INTO @hiPortCode
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
			EXEC usp_DailyFundStatusUpdate @hiPortCode,@StatusToMoveTo
			
			FETCH NEXT FROM funds_cursor
			INTO @hiPortCode
		END
		
		CLOSE funds_cursor
		DEALLOCATE funds_cursor
	END
	RETURN 









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

