SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedCompositeFundSplitActivate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedCompositeFundSplitActivate]
GO







CREATE procEDURE dbo.usp_ImportedCompositeFundSplitActivate
  @iSnapshotID bigint
AS
  set nocount on
  update BenchmarkSplit 
    set active = 0
    where SnapshotID <> @iSnapshotID and
             AssetFundID in (select assetFundID from BenchmarkSplit where SnapshotID = @iSnapshotID)
   
  update BenchmarkSplit
    set active = 1
  where SnapshotID = @iSnapshotID
  set nocount off







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

