SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedFundPricesCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedFundPricesCreate]
GO









CREATE PROCEDURE dbo.usp_ImportedFundPricesCreate
	@iSnapshotId			int,
	@sHiPortfolioCode		char(10),
	@dtValuationPoint		DateTime,
	@mBidPrice				money,
	@mOfferPrice			money,
	@mAssetUnitPrice		money,
	@mBarePrice				money,
	@mYield					money,
	@mUnroundedBidPrice		money,
	@mUnroundedOfferPrice	money,
	@sCurrencyCode			varchar(10),
	@sValuationBasis		char(1),
	@dPolicyHolderUnits		decimal,
	@dCompositeUnits		decimal,
	@dEquitableUnits		decimal
AS
INSERT INTO ImportedFundPrices
				( 
					SnapshotID , 
					hiPortfolioCode , 
					valuationPoint , 
					bidPrice , 
					offerPrice , 
					assetUnitPrice , 
					barePrice , 
					yield,
					unroundedBidPrice , 
					unroundedOfferPrice , 
					currencyCode , 
					valuationBasis , 
					policyHolderUnits , 
					compositeUnits ,
					equitableUnits, 
					deleted,
					active 
				)
VALUES 
				(
					@iSnapshotID,
					@sHiPortfolioCode,
					@dtValuationPoint,
					@mBidPrice,
					@mOfferPrice,
					@mAssetUnitPrice,
					@mBarePrice,
					@mYield,
					@mUnroundedBidPrice,
					@mUnroundedOfferPrice,
					@sCurrencyCode,
					@sValuationBasis,	
					@dPolicyHolderUnits , 
					@dCompositeUnits ,
					@dEquitableUnits , 	
					0,
					0
				)









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

