SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PriceFileCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PriceFileCreate]
GO



CREATE PROCEDURE dbo.usp_PriceFileCreate
/*
	Append a new file
*/
(
	@PriceFileId	INT OUT,
	@FileName 		VARCHAR(50),
	@Description 	VARCHAR(200),
	@Extension		CHAR(3),
	@CompanyCode	VARCHAR(10),
	@ts 			TIMESTAMP OUT
)

AS



	DECLARE @retVal INT
	SET @retVal = 0

	INSERT INTO dbo.PriceFiles
		(   
			extension,
			description,
			filename,
			companycode
		)
	VALUES  
		(  
			@Extension,
			@Description,
			@FileName,
			@CompanyCode
		)
		
	-- Get timeStamp from inserted, and pass back to client
	SELECT 
		@ts = ts,
		@PriceFileId=@@IDENTITY
	FROM 
		dbo.pricefiles
	WHERE 
		PriceFilesId = @@IDENTITY
	

SET NOCOUNT OFF

RETURN (@retVal)




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

