SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_RevaluationFactorCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_RevaluationFactorCreate]
GO







CREATE         PROCEDURE dbo.usp_RevaluationFactorCreate
	@cHiPortfolioCode 	char(10),
	@dTotalChange		decimal(9,5),
	@endDate		smalldatetime,
	@newFactorID 		INT OUTPUT	-- SJR 24 May 2004 - Return the new factor Id
AS

set nocount on

-- get a small date time for midnight today
declare @today as smalldatetime
select @today = dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode)

-- Update old factors for todays date to be deleted.
-- May update no rows if this is the first factor for the day, but simpler than checking and then updating the rows.
update		revaluationFactor
set		deleted = 1
where		hiPortfolioCode = @chiPortfolioCode
	and	deleted = 0

-- Insert the new factor
insert into	revaluationFactor
(	hiPortfolioCode,
	totalChange,
	effectiveDate,
	endDate,
	deleted
)
values
(	@chiPortfolioCode,
	@dTotalChange,
	@today,
	@endDate,	
	0
)

-- Get the newly inserted rows id
set @newFactorID = SCOPE_IDENTITY()

-- Make sure we managed to insert a record
  if @@ROWCOUNT = 0 
  begin
    raiserror('Concurrency violation', 11, 1)
    return (-1)
  end


  set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

