SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CurrencyDelete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CurrencyDelete]
GO



/****** Object:  Stored Procedure dbo.usp_CurrencyDelete    Script Date: 09/08/2005 15:05:37 ******/

/****** Object:  Stored Procedure dbo.usp_CurrencyDelete    Script Date: 09/08/2005 09:17:16 ******/
CREATE   PROCEDURE dbo.usp_CurrencyDelete
/*
	Flag currency to delete
*/
(
	  @currencyCode VARCHAR(10)
	, @ts 		TIMESTAMP
)

AS

SET NOCOUNT OFF

DECLARE @retVal INT
SET @retVal = 0

-- Make sure currency exists
SELECT     	COUNT(currencyCode) AS COUNT
FROM         	dbo.Currencies
GROUP BY 	currencyCode, ts
HAVING      	currencyCode = @currencyCode 
	AND	ts = @ts

IF @@ROWCOUNT > 0 
	-- Update currency regardless of current deleted state
	BEGIN
	UPDATE  dbo.Currencies
	SET     deleted = 1
	WHERE   currencyCode = @currencyCode
	  AND	ts = @ts

	IF @@ROWCOUNT = 0 
		BEGIN
		RAISERROR('Concurrency violation', 11, 1)
		SET @retVal = -1
		END
	END
ELSE
	-- Report back to client if the currency does exist
	BEGIN
    	RAISERROR('The specified curreny (%s) does not exist within the database', 11, 1, @currencyCode)
	SET @retVal = -1
	END

SET NOCOUNT ON

RETURN (@retVal)



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

