SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_countryCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_countryCreate]
GO



/****** Object:  Stored Procedure dbo.usp_countryALTER     Script Date: 09/08/2005 15:56:40 ******/

/****** Object:  Stored Procedure dbo.usp_countryALTER     Script Date: 09/08/2005 09:42:24 ******/
CREATE PROCEDURE dbo.usp_countryCreate
/*
	Append a new country
*/
(
	@countryCode 	VARCHAR(5),
	@countryName 	VARCHAR(50),
	@currencyCode	VARCHAR(10),
	@ts 			TIMESTAMP OUT
)

AS

DECLARE @retVal INT
SET @retVal = 0


IF @retVal = 0
	-- When a matching deleted country code exists, reinstate
	-- and set its name.
	-- The floor here is if the country changes all previous linked rows will be incorrect
	-- This is an unlikley event :-)
	IF (SELECT		COUNT(countryCode) AS COUNT
		FROM    	dbo.countries
		GROUP BY 	countryCode, deleted
		HAVING      	countryCode = @countryCode 
	   	   AND 		deleted <> 0) > 0
		
		-- Reinstate deleted country
		BEGIN
		UPDATE    dbo.countries
		SET       deleted = 0
			, country = @countryName, currencyCode=@currencyCode
		WHERE     countryCode = @countryCode
		  AND	  deleted <> 0
		END
	ELSE
		BEGIN
	
		-- Append country
		INSERT INTO dbo.countries
			(   countryCode,
				country,
				deleted,
				currencyCode
			)
		VALUES  
			(  
				@countryCode,
				@countryName,
				0,
				@currencyCode
			 )
		
		IF @@ROWCOUNT = 0 
			BEGIN
			RAISERROR('Concurrency violation', 11, 1)
			SET @retVal = -1
			END
		END

IF @retVal = 0
	-- Get timeStamp from inserted, and pass back to client
	BEGIN
	SELECT @ts = ts
	FROM dbo.countries
	WHERE countryCode = @countryCode
	END

SET NOCOUNT OFF

RETURN (@retVal)



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

