SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_SnapshotActivate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_SnapshotActivate]
GO



CREATE procEDURE dbo.usp_SnapshotActivate
  @iSnapshotID bigint
AS
  set nocount on
  
  DECLARE @Process char(1)
  
  SELECT @Process=Process from snapshot where  snapshotid=@iSnapshotID
  
  if @Process<>'R'
	BEGIN
		execute usp_BenchmarksplitActivate @iSnapshotID
		execute usp_ImportedFundPricesActivate @iSnapshotID
		execute usp_CurrencyRatesActivate @iSnapshotID
		execute usp_ImportedIndexValuesActivate @iSnapshotID

		update snapshot set deleted=0 where snapshotid=@iSnapshotID
	END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

