SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_HBOSCompanyCheckForAuthorisedPrice]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_HBOSCompanyCheckForAuthorisedPrice]
GO







CREATE procEDURE dbo.usp_HBOSCompanyCheckForAuthorisedPrice
  @sCompanyCode varchar(10),
  @bHasAuthorisedPrices bit  OUTPUT
as
  set nocount on
  declare @today as smalldatetime
  select @today = dbo.udf_GetCurrentPricingDayForCompany(@sCompanyCode, null, null)
  declare @tomorrow as smalldatetime
  select @tomorrow = dbo.udf_GetNextPricingDayForCompany(@sCompanyCode, null, null)
  declare @hasAuthorisedPrices as bit
  if exists(
    select statusID 
      from dailyFundStatus
        join Funds on (dailyFundStatus.hiPortfolioCode = Funds.hiPortfolioCode and
                       Funds.deleted = 0)
        join AssetFunds on (Funds.AssetFundID = AssetFunds.AssetFundID and
                            AssetFunds.deleted = 0)
      where statusDate >= @today and
            statusDate < @tomorrow and
            statusID >= 30 and 
            companyCode = @sCompanyCode)
    set @bHasAuthorisedPrices = 1
  else
    set @bHasAuthorisedPrices = 0
  set nocount off







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

