SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_HBOSCompanyListForUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_HBOSCompanyListForUser]
GO







CREATE procEDURE dbo.usp_HBOSCompanyListForUser
AS
  set nocount on
    
    select distinct HBOSCompanies.companyCode, HBOSCompanies.companyName, valuationPoint, defaultImportSource,HBOSCompanies.ts
    FROM         dbo.CompanyUserPermission INNER JOIN
                          dbo.CompanyPermission ON dbo.CompanyUserPermission.CompanyPermissionId = dbo.CompanyPermission.CompanyPermissionId INNER JOIN
                          dbo.HBOSCompanies ON dbo.CompanyPermission.CompanyCode = dbo.HBOSCompanies.companyCode
    WHERE     (dbo.CompanyUserPermission.loginID = SYSTEM_USER) and
      HBOSCompanies.deleted = 0
      order by HBOSCompanies.companyName
  set nocount off





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

