SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UserGetStaticData]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UserGetStaticData]
GO






CREATE procEDURE dbo.usp_UserGetStaticData


  @loginId varchar(50)

AS

SET NOCOUNT ON
SELECT     dbo.Users.*
FROM         dbo.Users
WHERE     (deleted = 0) AND (loginID = @loginId)







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

