SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundToleranceCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundToleranceCreate]
GO









CREATE     PROCEDURE dbo.usp_FundToleranceCreate
@sHiPortfolioCode	char(10),
@dAssetMovement		decimal(9,6),
@dUpperTolerance	decimal(9,6),
@dLowerTolerance	decimal(9,6),
@bPriceIncreaseOnly	bit,
@newToleranceID		bigint output
AS
  set nocount on
  -- Lets check for an actual change as the client side code isn't bothering to do this right now.
  if not exists (select tolerancesID from FundTolerances 
                      where hiPortfolioCode = @sHiPortfolioCode and
                               AssetMovement = @dAssetMovement  and
                               UpperTolerance = @dUpperTolerance and
                               LowerTolerance = @dLowerTolerance and
                               PriceIncreaseOnly = @bPriceIncreaseOnly and
                               inUse = 1)
  begin
	-- Update any current inuse tolerances for this Portfolio Code to be not in use
	update 	FundTolerances
		set inUse = 0
	where 	hiPortfolioCode = @sHiPortfolioCode
	and 	inUse = 1
	-- Create the new Fund Tolerance
	insert into FundTolerances( 
		hiPortfolioCode , 
		inUse , 
		assetMovement , 
		upperTolerance , 
		lowerTolerance , 
		priceIncreaseOnly )
	values(
		@sHiPortfolioCode,
		1,
		@dAssetMovement,
		@dUpperTolerance,
		@dLowerTolerance,
		@bPriceIncreaseOnly
		)

	set @newToleranceID = SCOPE_IDENTITY()
  end
  set nocount off



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

