SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[rrn_DistributionFilesUpdateForMaintenance]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[rrn_DistributionFilesUpdateForMaintenance]
GO





CREATE procEDURE dbo.rrn_DistributionFilesUpdateForMaintenance

	(
		@XsltSource text,
		@FileId		int
	)

AS
	UPDATE	DistributionFiles 
	SET		XsltLocation = 'database', 
			XsltSource = @XsltSource 
	WHERE	FileID = @FileId
	
	RETURN 





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

