SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UsersGetLastCompanyForLoginID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UsersGetLastCompanyForLoginID]
GO








CREATE procEDURE dbo.usp_UsersGetLastCompanyForLoginID 
AS
    declare @lastCompany varchar(25)
  
  SELECT     @lastCompany = lastCompany
   FROM         dbo.Users
   WHERE     (loginID = SYSTEM_USER) AND (deleted = 0)
        
        
  if @lastCompany is null
	SELECT     top 1 @lastCompany= dbo.CompanyPermission.CompanyCode
	FROM         dbo.CompanyUserPermission INNER JOIN
		      dbo.CompanyPermission ON dbo.CompanyUserPermission.CompanyPermissionId = dbo.CompanyPermission.CompanyPermissionId
	WHERE     (dbo.CompanyUserPermission.loginID = SYSTEM_USER)
  

  select @lastCompany as CompanyCode
 -- select @lastCompany = 'HIFM'

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

