if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundCheckFullNameShortNameDuplication]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundCheckFullNameShortNameDuplication]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO



CREATE  PROCEDURE dbo.usp_AssetFundCheckFullNameShortNameDuplication
	
(
	@assetFundID char(8),
	@fullName varchar(100),
	@shortName varchar(50),
	@fullNameExists bit output,
	@shortNameExists bit output

--	KAJ	22/11/2005	VH origninal amended so names are only unique within the company
)

AS 

SET NOCOUNT ON

DECLARE		@companyCode VARCHAR(10)

--Parameter validation
IF @assetFundID is null
	RAISERROR ('@assetFundID must be provided (null supplied)', 11, 1)
ELSE IF len(@assetFundID) = 0
	RAISERROR ('@assetFundID must be provided (zero length string supplied)', 11, 1)
ELSE
	IF not EXISTS	(
				SELECT		*
				FROM		AssetFunds WITH (NOLOCK)
				WHERE		assetFundID = @assetFundID
			)
		RAISERROR ('this check must be for an existing asset fund', 11, 1)

--Store company code for passed asset fund
SELECT		@companyCode = companyCode
FROM		AssetFunds WITH (NOLOCK)
WHERE		assetFundID = @assetFundID

--Full name check
IF @fullName is not null AND len(@fullName) > 0
	IF EXISTS	(
				SELECT		*
				FROM		AssetFunds WITH (NOLOCK)
				WHERE		fullName = @fullName
					AND	companyCode = @companyCode
					AND	deleted = 0
					AND	assetFundID <> @assetFundID
			)
		SET @fullNameExists = 1
	ELSE
		SET @fullNameExists = 0
ELSE
	SET @fullNameExists = 0

--Short name check
IF @shortName is not null AND len(@shortName) > 0
	IF EXISTS	(
				SELECT		*
				FROM		AssetFunds WITH (NOLOCK)
				WHERE		shortName = @shortName
					AND	companyCode = @companyCode
					AND	deleted = 0
					AND	assetFundID <> @assetFundID
			)
		SET @shortNameExists = 1
	ELSE
		SET @shortNameExists = 0
ELSE
	SET @shortNameExists = 0


SET NOCOUNT OFF



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

