SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CountryUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CountryUpdate]
GO



/****** Object:  Stored Procedure dbo.usp_CurrencyUpdate    Script Date: 09/08/2005 10:04:21 ******/
CREATE PROCEDURE dbo.usp_CountryUpdate
/*
	Update the currency information
*/
(
	  @currentCountryCode	VARCHAR(10)
	, @countryCode			VARCHAR(5)
	, @countryName			VARCHAR(150)
	, @currencyCode			VARCHAR(10)
	, @ts 					TIMESTAMP OUTPUT
)

AS

SET NOCOUNT OFF

DECLARE @retVal INT
SET @retVal = 0

UPDATE    
	dbo.Countries
SET       
	countryCode = @countryCode,
	country = @countryName,
	currencyCode=@currencyCode
WHERE     
	countryCode = @currentCountryCode
	AND	  ts = @ts
	
IF @@ROWCOUNT = 0 
	BEGIN
	RAISERROR('Concurrency violation', 11, 1)
	SET @retVal = -1
	END	
ELSE
	BEGIN

	-- Get timeStamp from inserted row passing back to client
	SELECT @ts = ts
	FROM dbo.Currencies
	WHERE currencyCode = @currencyCode
	END

SET NOCOUNT ON

RETURN (@retVal)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

