SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PriceFileList]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PriceFileList]
GO

CREATE PROCEDURE dbo.usp_PriceFileList 
(
	@CompanyCode varchar(10)
)AS
  set nocount on
  select * 
    from PriceFiles
    where deleted = 0 and companycode=@CompanyCode
    order by FileName
  set nocount off







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

