SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundIDsGet]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundIDsGet]
GO








CREATE    PROCEDURE dbo.usp_AssetFundIDsGet
AS
  set nocount on
  select assetFundID 
    from AssetFunds with (nolock) 
    where deleted = 0
  set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

