SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ExternalSystemsList]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ExternalSystemsList]
GO








CREATE  procEDURE dbo.usp_ExternalSystemsList (
	@companyCode VARCHAR(10)=null
) AS
set nocount on
if  @companyCode is null
	select 
		systemID, 
		systemName, 
		identifierName, 
		ts 
	from 
		externalSystems 
	where 
		deleted = 0 
	order by 
		systemName 
else	
	select 
		systemID, 
		systemName, 
		identifierName, 
		ts 
	from 
		externalSystems 
	join
		ExternalSystemsHBOSCompany ON externalSystems.systemid=ExternalSystemsHBOSCompany.ExternalSystemsid
	where 
		deleted = 0 AND
		CompanyCode=@CompanyCode
	order by 
		systemName 
set nocount off








GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

