SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_GetNextWorkingDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_GetNextWorkingDate]
GO




CREATE procEDURE dbo.usp_GetNextWorkingDate (@currentDate DATETIME)

AS
	select dbo.udf_GetNextWorkingDate(@currentDate)
	RETURN 




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

