SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedFundPricesActivate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedFundPricesActivate]
GO






CREATE PROCEDURE dbo.usp_ImportedFundPricesActivate
  @iSnapshotID bigint
AS
  set nocount on
 -- Set the old ones to being inactive
  update ImportedFundPrices
    set active = 0
    where SnapshotID <> @iSnapshotID and
             hiPortfolioCode in (select hiPortfolioCode from ImportedFundPrices where SnapshotID = @iSnapshotID)
 -- Set the new ones to being active
  update ImportedFundPrices
    set active = 1
  where SnapshotID = @iSnapshotID

-- Insert the DailyFundStatus
 insert into DailyFundStatus  (hiPortfolioCode , statusDate , statusId)
  select prices.hiPortfolioCode , dbo.udf_GetCurrentPricingDayForCompany(null, null, prices.hiPortfolioCode) , 10
  from ImportedFundPrices prices
	left outer join DailyFundStatus daily on prices.hiPortfolioCode = daily.hiPortfolioCode 
	 and statusDate >= dbo.udf_GetCurrentPricingDayForCompany(null, null, prices.hiPortfolioCode)
         and statusDate < dbo.udf_GetNextPricingDayForCompany(null, null, prices.hiPortfolioCode)
  where SnapshotId = @iSnapshotID
  and statusid is null
  set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

