SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CompositeWeightingsImport]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CompositeWeightingsImport]
GO










CREATE PROCEDURE dbo.usp_CompositeWeightingsImport
	@SnapshotId	int
AS
set nocount on
-- Insert the values into ImportedCompositeFundSplit
insert into BenchmarkSplit( 
	snapshotID , 
	assetFundID , 
	hiPortfolioCode,
	proportion,
	active)
select 	
	@SnapshotId , 
	iafOuter.primaryKey , 
	(select HiPortFolioCode from Funds where deleted=0 and securitycode=iafOuter.secondaryKey), 
	[importedValue] /   
	(
		SELECT sum( importedValue )
		FROM ImportedSplitWorkingTable iafInner
		WHERE iafInner.primaryKey = iafOuter.primaryKey
	) as proportion,
	0 as Active
from ImportedSplitWorkingTable iafOuter
Where snapshotId=@SnapshotId

-- Due to rounding down or up as we move into a 6 digit decimal field, the totals may add up to less than 1 or more than 1
update BenchmarkSplit 
set proportion = proportion + 
	(
		-- Figure out much less than 1 the total is.
		select 1 - sum( proportion )
		from BenchmarkSplit innerQuery
		where SnapshotID = @SnapshotId
		and innerQuery.AssetFundId = outerQuery.AssetFundId
	)
from BenchmarkSplit outerQuery
where Snapshotid = @SnapshotId
and assetFundId in 
	(
		-- Which asset funds add up to less than 1 or more than 1
		select assetFundId
		from BenchmarkSplit lessThan1
		where SnapshotId = @SnapshotId
		group by assetFundId
		having sum( proportion ) < 1 
		or sum( proportion ) > 1 
	)
and proportion = 
	(
		-- Make sure we only update the maximum weighting
		select max( proportion )
		from BenchmarkSplit innerQuery
		where SnapshotId = @SnapshotId
		and innerQuery.AssetFundId = outerQuery.AssetFundId
	)
	
	
	exec usp_ImportedSplitWorkingTableClear @SnapshotId
set nocount off










GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

