SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_BenchmarkSplitCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_BenchmarkSplitCreate]
GO


CREATE PROCEDURE dbo.usp_BenchmarkSplitCreate

	(
		@cAssetFundID		char(8),
		@lSnapshotID		bigint,
		@cHiPortfolioCode	char(10),
		@iMarketIndexID		int,
		@dProportion		decimal(18,6)
	)

AS
	SET NOCOUNT ON
	
	INSERT INTO BenchmarkSplit
	(
		assetFundID,
		snapshotID,
		hiPortfolioCode,
		marketIndexID,
		proportion,
		active,
		deleted
	)	
	VALUES
	(
		@cAssetFundID,
		@lSnapshotID,
		@cHiPortfolioCode,
		@iMarketIndexID,
		@dProportion,
		0,
		0
	)
	


	SET NOCOUNT OFF
	RETURN 


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

