SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportMoreThanOneMarketForACountry]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportMoreThanOneMarketForACountry]
GO

CREATE PROCEDURE dbo.usp_ImportMoreThanOneMarketForACountry
	(
		@snapShotId bigint
	)

AS
	SET NOCOUNT ON
	
	SELECT     COUNT(marketcount)
FROM         (SELECT     COUNT(dbo.MarketIndices.countryCode) AS marketcount
              FROM         dbo.BenchmarkSplit BenchmarkSplit_1 INNER JOIN
                                    dbo.MarketIndices ON BenchmarkSplit_1.marketIndexID = dbo.MarketIndices.marketIndexID INNER JOIN
                                    dbo.ImportedSplitWorkingTable ON BenchmarkSplit_1.assetFundID = dbo.ImportedSplitWorkingTable.primaryKey
              WHERE     (BenchmarkSplit_1.active = 1)
              GROUP BY dbo.MarketIndices.countryCode, dbo.ImportedSplitWorkingTable.snapshotID
              HAVING      (COUNT(dbo.MarketIndices.countryCode) > 1) AND (dbo.ImportedSplitWorkingTable.snapshotID = @snapshotid)) DERIVEDTBL
	
	
	RETURN 

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

