SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGroupCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGroupCreate]
GO





/*
19/07/2005 RN: Changed ForRelease parameter from char to bit
*/



CREATE  procEDURE dbo.usp_FundGroupCreate
	@sFullName varchar(100),
	@sCompanyCode varchar(10),
	@sShortName varchar(50),
	@sContainsType char(1),
	@bForRelease bit,
	@bAllowSelectAllAuthorisation bit
AS

set nocount on

insert into	FundGroups

(	fullName,
	shortName,
	companyCode,
	containsType,
	forRelease,
	allowSelectAllAuthorisation
)

values
(	@sFullName,
	@sShortName,
	@sCompanyCode,
	@sContainsType,
	@bForRelease,
	@bAllowSelectAllAuthorisation
)
set nocount off

return (scope_identity())




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

