SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedIndexValuesCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedIndexValuesCreate]
GO






CREATE PROCEDURE dbo.usp_ImportedIndexValuesCreate
	@iSnapshotId		int,
	@sCompanyCode	varchar(10),
	@dtValuationPoint	datetime,
	@Index		varchar(50),                     -- This parameters are not prefixed because of the generic
	@Value		decimal(18,5)                            -- persister layer. *DO NOT CHANGE*
AS
set nocount on
DECLARE @MarketIndexId int
-- Look up the Market Index Id
SELECT @MarketIndexId = marketIndexID
FROM MarketIndices
WHERE indexName = @Index
INSERT INTO ImportedIndexValues( SnapshotId , marketIndexID , indexValue , valuationPoint , companyCode )
VALUES( @iSnapshotId , @MarketIndexId , @Value , @dtValuationPoint , @sCompanyCode )
 set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

