SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_DailyFundStatusUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_DailyFundStatusUpdate]
GO



CREATE  PROCEDURE dbo.usp_DailyFundStatusUpdate
  @cHiPortfolioCode char(10),
  @iStatusID int
AS
  set nocount on
  declare @today AS smalldatetime
  select @today = dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode)
  if not exists (select statusID from dailyFundStatus where hiPortfolioCode = @cHiPortfolioCode and statusDate = @today)
  begin
    insert into dailyFundStatus (hiPortfolioCode, statusDate, statusID)
      values (@cHiPortfolioCode, @today, @iStatusID)
  end
  else
  begin
    update dailyFundStatus
      set statusID = @iStatusID
      where hiPortfolioCode = @cHiPortfolioCode and statusDate = @today
  end
  if @@ROWCOUNT = 0 
  begin
    RAISERROR('Status Update Failed', 11, 1)
    return (-1)
  end
  set nocount off

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

