SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AuthorisedFundPriceRelease]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AuthorisedFundPriceRelease]
GO












CREATE    PROCEDURE dbo.usp_AuthorisedFundPriceRelease
  @cHiPortfolioCode char(10),
  @ts timestamp
AS

set nocount on

--declarations
declare @currentStatus int
declare @today datetime

--set date
set @today = dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode)

--check fund exists
if not exists(select hiPortfolioCode from funds where hiPortfolioCode = @cHiPortfolioCode)
	begin
		raiserror('UnknownFundCode', 11, 1, @cHiPortfolioCode)
		return (-1)
	end

--check status is authorised
set @currentStatus = dbo.udf_getCurrentFundStatus(@cHiPortfolioCode, @today)
if @currentStatus <> 30
	begin
		raiserror('ReleaseNotAuthorised', 11, 1)
		return (-1)
	end

--check concurrency
select		ts
from		AuthorisedFundPrice
where		hiPortfolioCode = @cHiPortfolioCode
	and	ts = @ts

--update status
if @@ROWCOUNT = 1
	execute usp_DailyFundStatusUpdate @cHiPortfolioCode, 40
else
	begin
		raiserror('Concurrency violation', 11, 1)
		return (-1)
	end












GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

