SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedIndexValuesListForSnapshotID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedIndexValuesListForSnapshotID]
GO




CREATE PROCEDURE dbo.usp_ImportedIndexValuesListForSnapshotID 
  @iSnapshotID bigint
AS
  set nocount on
  select indexName as [Market Index], indexValue as [Value], Country 
    from ImportedIndexValues
    join MarketIndices on (ImportedIndexValues.marketIndexID = MarketIndices.marketIndexID)
    join Countries on (MarketIndices.countrycode = Countries.CountryCode)
    where SnapshotID = @iSnapshotID
    order by indexName






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

