SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_LoadAssetFundSplitsFromTempTable]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_LoadAssetFundSplitsFromTempTable]
GO






CREATE PROCEDURE dbo.usp_LoadAssetFundSplitsFromTempTable
@iSnapshotID bigint
AS
set nocount on

SELECT     primaryKey AS AssetFundId, secondaryKey AS CountryCode, importedValue
FROM         dbo.ImportedSplitWorkingTable
WHERE     (snapshotID = @iSnapshotID)
set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

