SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedSplitWorkingTableDelete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedSplitWorkingTableDelete]
GO


CREATE PROCEDURE dbo.usp_ImportedSplitWorkingTableDelete

	(
		@assetFundId char(8),
		@snapshotId bigint
	)

AS
	delete from 
		ImportedSplitWorkingTable 
	where 
		primarykey=@assetFundId and 
		snapshotid=@snapshotId
	RETURN 


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

