SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundExternalSystemIdentifiersListForHiPortfolioCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundExternalSystemIdentifiersListForHiPortfolioCode]
GO







CREATE  PROCEDURE dbo.usp_FundExternalSystemIdentifiersListForHiPortfolioCode
  @cHiportfolioCode char(10)
AS
  set nocount on
  select ExternalSystems.systemID, systemName, alternativeFundCode, FundExternalSystemIdentifiers.ts
    from  FundExternalSystemIdentifiers
    join ExternalSystems on (FundExternalSystemIdentifiers.systemID = ExternalSystems.SystemID)
    where FundExternalSystemIdentifiers.hiPortfolioCode = @cHiportfolioCode and
             FundExternalSystemIdentifiers.deleted = 0 and
             ExternalSystems.deleted = 0
    order by systemName
  set nocount off







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

