SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundExternalSystemIdentifiersCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundExternalSystemIdentifiersCreate]
GO







CREATE  PROCEDURE dbo.usp_FundExternalSystemIdentifiersCreate
  @cHiPortfolioCode char(10),
  @iSystemID int,
  @sAlternativeFundCode varchar(50)
AS
  set nocount on
  if exists(select alternativeFundCode from FundExternalSystemIdentifiers where hiPortfolioCode = @cHiPortfolioCode and systemID = @iSystemID and deleted = 1)
    update FundExternalSystemIdentifiers
      set HiPortfolioCode = @cHiPortfolioCode,
           SystemID = @iSystemID,
           AlternativeFundCode = @sAlternativeFundCode,
           deleted = 0 
      where hiPortfolioCode = @cHiPortfolioCode and systemID = @iSystemID and deleted = 1
  else
  insert into FundExternalSystemIdentifiers
    (HiPortfolioCode, SystemID, AlternativeFundCode)
    values (@cHiPortfolioCode, @iSystemID, @sAlternativeFundCode)
  set nocount off







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

