SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AuthorisedFundPriceUnauthorise]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AuthorisedFundPriceUnauthorise]
GO



CREATE  procEDURE dbo.usp_AuthorisedFundPriceUnauthorise

-- Deletes an authorised fund code record.
-- KAJ 31/05/05
-- KAJ 30/08/05 - Removed need to unauthorise composite funds if linked fund unauthorised

  @cHiPortfolioCode char(10)

AS


--declarations
declare @currentStatus int
declare @today datetime
declare @cAssetFundID char(8)
declare @cursorHiPortfolioCode char(10)

--set today
set @today = dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode)

--Check fund code exists
if not exists(	select hiPortfolioCode from funds where hiPortfolioCode = @cHiPortfolioCode)
	raiserror('Unknown fund code %s', 11, 1, @cHiPortfolioCode)
	
--Check fund status is correct
set @currentStatus = dbo.udf_getCurrentFundStatus(@cHiPortfolioCode, @today)
if @currentStatus <> 30 
	begin
		raiserror('Fund status must be authorised', 11, 1)
		return (-1)
	end
	
--Remove authorised fund record - there will be only one
update		AuthorisedFundPrice
set		deleted = 1
where		HiPortfolioCode = @cHiPortfolioCode
	AND	authorisationDate >= @today
	AND	deleted = 0

--Make sure we made a change
if @@ROWCOUNT = 1
	Begin
		--Update the status
		--execute usp_DailyFundStatusUpdate @cHiPortfolioCode, 10
		--New because we dont' always want to revert back to Imported (10) when there has been no import today
		DECLARE @LastStatus int
		
		select @LastStatus =max(changedto)
		From DailyFundStatusAuditTrail
		where hiPortfolioCode = @cHiPortfolioCode and statusDate=@today and changedto<30
		
		if @LastStatus is null
			set @LastStatus=0
		
		execute usp_DailyFundStatusUpdate @cHiPortfolioCode, @LastStatus

/* Removed KAJ 30/08/05		
		--If this fund is linked, we need to unauthorise any authorised linked composite funds
		IF	(SELECT		fundType
			FROM		Funds
			WHERE		hiPortfolioCode = @cHiPortfolioCode) = 'L'
			BEGIN

				--Step through all composite funds that this fund links to and unauthorise them
				DECLARE fund_cursor 
				CURSOR FAST_FORWARD FOR 

				SELECT		afp.hiPortfolioCode
				FROM		AuthorisedFundPrice afp
				INNER JOIN	AuthorisedAssetFundPrice aafp
				ON		afp.AuthorisedAssetFundPriceID = aafp.AuthorisedAssetFundPriceID
				INNER JOIN	ImportedCompositeFundSplit cfs
				ON		aafp.compositeFundSplitImportID = cfs.SnapshotID
				WHERE		afp.deleted = 0
					AND	afp.authorisationDate >= @today
					AND	afp.authorisationDate < dbo.udf_GetNextWorkingDate (@today)
					AND	cfs.hiPortfolioCode = @cHiPortfolioCode

				OPEN fund_cursor
				FETCH NEXT FROM fund_cursor 
				INTO @cursorHiPortfolioCode
			
				WHILE @@FETCH_STATUS = 0
				BEGIN
					EXEC upd_AuthorisedFundPriceUnauthorise @cursorHiPortfolioCode
			   
					FETCH NEXT FROM fund_cursor 
					INTO @cursorHiPortfolioCode
				END
				CLOSE fund_cursor
				DEALLOCATE fund_cursor

			END
*/
	END
else
		begin
			raiserror('Concurrency violation', 11, 1)
			return (-1)
		end

--if this was the last authorised fund within the asset fund, unauthorise the asset fund
select @cAssetFundID = assetFundID from funds where funds.hiPortfolioCode = @cHiPortfolioCode
if not exists 
	(
		select		afp.hiPortfolioCode
		from		authorisedFundPrice afp
		inner join	funds f
		on		(afp.hiPortfolioCode = f.hiPortfolioCode)
		where		f.assetFundID = @cAssetFundID
			and	afp.deleted = 0
			and	authorisationDate >= @today
			and	authorisationDate < dbo.udf_GetNextWorkingDate (@today)
	)

	begin
		update		authorisedAssetFundPrice 
		set		active = 0,
				deleted = 1
		where		assetFundID = @cAssetFundID
			and	authorisationDate >= @today
			and	authorisationDate < dbo.udf_GetNextWorkingDate (@today)
	end




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

