SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_StockMarketDelete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_StockMarketDelete]
GO


CREATE PROCEDURE dbo.usp_StockMarketDelete
(
	  @marketIndex int
	, @ts 		TIMESTAMP
)

AS

SET NOCOUNT OFF

DECLARE @retVal INT
SET @retVal = 0

-- Make sure Stock Market exists
SELECT     	
	COUNT(marketIndexId) AS COUNT
FROM         	
	dbo.MarketIndices
WHERE
	marketIndexId = @marketIndex AND	
	ts = @ts

IF @@ROWCOUNT > 0 
	-- Update market regardless of current deleted state
	BEGIN
	UPDATE  dbo.MarketIndices
	SET     deleted = 1
	WHERE   marketIndexId = @marketIndex
	  AND	ts = @ts

	IF @@ROWCOUNT = 0 
		BEGIN
		RAISERROR('Concurrency violation', 11, 1)
		SET @retVal = -1
		END
	END
ELSE
	-- Report back to client if the currency does exist
	BEGIN
    	RAISERROR('The specified market (%s) does not exist within the database', 11, 1, @marketIndex)
	SET @retVal = -1
	END

SET NOCOUNT ON

RETURN (@retVal)



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

