SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_SnapshotCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_SnapshotCreate]
GO



CREATE PROCEDURE dbo.usp_SnapshotCreate
	@cProcess			char(1),
	@sImportFilename	varchar(512),
	@sCompanyCode		char(10),
	@iSnapshotId		bigint		output,
	@sUserId			varchar(50)	output,
	@dSnapshotDate		datetime	output,
	@ts					timestamp	output
AS
  set nocount on

  insert into Snapshot( 
		snapshotDate , 
		process, 
		companycode,
		importFilename
		)
    values( 
		getdate(), 
		@cProcess ,
		@sCompanyCode,
		@sImportFilename
		)
     
    select
		@iSnapshotId	=	snapshotId,
		@sUserId		=	userId,
		@dSnapshotDate	=	snapshotDate,
		@ts				=	ts
	from
		snapshot
	where
		snapshotId     = scope_identity()
  
 
  set nocount off



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

