SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CurrencyRatesCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CurrencyRatesCreate]
GO






CREATE PROCEDURE dbo.usp_CurrencyRatesCreate
	@iSnapshotId		int,
	@sCompanyCode	varchar(10),
	@dtValuationDate	datetime,
	@sCurrencyCode	varchar(10),
	@dExchangeRate	decimal(18,6)
AS
  set nocount on
INSERT INTO CurrencyRates( SnapshotId , currencyCode , rate , valuationPoint , companyCode )
VALUES( @iSnapshotId , @sCurrencyCode , @dExchangeRate , @dtValuationDate , @sCompanyCode )
 set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

