SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_IsBenchmarkRelatedToAssetFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_IsBenchmarkRelatedToAssetFund]
GO


CREATE PROC dbo.usp_IsBenchmarkRelatedToAssetFund
	
	@assetFundCode		CHAR(8),
	@benchmarkFundCode	CHAR(10),
	@messageText		VARCHAR(100) OUTPUT

	--	KAJ 23/08/2005
	--	This sp wraps the recursive function that checks for any circular references
	--	that would be created if the passed fund were added as a benchmark for the
	--	passed Asset Fund.

AS

SET	@messageText = dbo.udf_CheckCircularReferenceBenchmarks
		(
			@assetFundCode,
			@benchmarkFundCode,
			1
		)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

