SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_HBOSCompanyUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_HBOSCompanyUpdate]
GO







CREATE procEDURE dbo.usp_HBOSCompanyUpdate
  @sCompanyCode varchar(10),
  @sCompanyName varchar(50),
  @sDefaultImportSource varchar(255),
  @dtValuationPoint datetime,
  @bDeleted bit,
  @ts timestamp
AS
  set nocount on
  update HBOSCompanies
    set companyName = @sCompanyName, 
         valuationPoint = @dtValuationPoint,
         defaultImportSource = @sDefaultImportSource,
         deleted = @bDeleted
  where
    companyCode = @sCompanyCode and
    ts = @ts and
    deleted = 0
  if @@ROWCOUNT <> 1 
  begin
    raiserror('Concurrency violation', 11, 1)
    return (-1)
  end
  set nocount off





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

