SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_StockMarketIndexGetWithPricing]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_StockMarketIndexGetWithPricing]
GO


CREATE PROCEDURE dbo.usp_StockMarketIndexGetWithPricing

	(
		@iMarketIndexId INT,
		@cAssetFundId	CHAR(8)
	)

AS
	SET NOCOUNT ON
	
	DECLARE @CompanyCode	VARCHAR(10)
	DECLARE @CurrencyCode	VARCHAR(10)
	
	SELECT	@CompanyCode = companyCode
	FROM	assetFunds
	WHERE	assetFundID = @cAssetFundId
	  AND	deleted = 0
	
	SET @CurrencyCode = dbo.udf_getCurrencyCodeForStockMarketIndex(@iMarketIndexId)

	SELECT
		marketIndexID,		
		indexName,
		dbo.udf_getCurrentStockMarketIndex(@iMarketIndexId,@cAssetFundId) AS currentValue,
		dbo.udf_getPreviousStockMarketIndex(@iMarketIndexId,@cAssetFundId) as previousValue,
		@CurrencyCode as currencyCode,
		dbo.udf_getCurrencyCurrentRate(@CurrencyCode,@cAssetFundId)  currencyCurrentRate,
		dbo.udf_getCurrencyPreviousRate(@CurrencyCode,@cAssetFundId) currencyPreviousRate	
	FROM
		MarketIndices
	WHERE
		marketIndexID = @iMarketIndexId
	AND	deleted = 0
		
	SET NOCOUNT OFF
	RETURN 


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

