SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGetStaticDataForAssetFundID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGetStaticDataForAssetFundID]
GO








CREATE procEDURE dbo.usp_FundGetStaticDataForAssetFundID

--Returns all static data properties of the passed fund
--KAJ 13/05/05

  @cAssetFundID char(8)

AS

SET NOCOUNT ON

-- get a small date time for midnight today
declare @today as smalldatetime
select @today = dbo.udf_GetCurrentPricingDayForCompany(null, @cAssetFundID, null)
declare @tomorrow as smalldatetime
select @tomorrow = dbo.udf_GetNextPricingDayForCompany(null, @cAssetFundID, null)

SELECT		f.HiPortFolioCode,
		f.FullName,
		f.ShortName,
		f.FundClassOrSeries,
		f.FundType,
		f.IsDual,
		f.IsExDividend,
		f.IsLife,
		f.IsMidPriceBidPrice,
		f.AssetFundID,
		f.FundOnHi3,
		f.securityCode,
		xf.xFactorID,
		COALESCE(xf.xFactor, 0) xFactor,
		COALESCE(xf.narrative, '') xFactorNarrative,
		xf.ts xFactorTimestamp,
		sf.scalingFactorID,		
		COALESCE(sf.scalingFactor, 0) scalingFactor,
		sf.ts scalingFactorTimestamp,
		tf.taxProvisionFactorID,
		COALESCE(tf.provisionEstimate, 0) taxProvisionFactor,
		tf.ts taxProvisionTimestamp,
		vb.valuationBasisID valuationBasisEffectID,		
		COALESCE(vb.valuationBasisEffect, 0) valuationBasisEffect,
		rf.revaluationFactorID,
		COALESCE(rf.totalChange, 0) revaluationEffect,
		rf.effectiveDate revaluationEffectiveDate,
		rf.endDate revaluationEndDate,
		rf.ts revaluationTimestamp,
		ft.tolerancesID,
		ft.assetMovement assetMovementTolerance,
		ft.lowerTolerance,
		ft.upperTolerance,
		ft.priceIncreaseOnly,
		dfs.statusID,
		f.ts,
		f.isbenchmarkable
FROM		Funds f

LEFT JOIN	(SELECT		xFactorID,
				hiPortfolioCode,
				xFactor,
				narrative,
				ts
		FROM		xFactor
		WHERE		appliedDate >= @today
			AND	appliedDate < @tomorrow
			AND	deleted = 0) xf
ON		f.hiPortfolioCode = xf.hiPortfolioCode

LEFT JOIN	(SELECT		scalingFactorID,
				hiPortfolioCode,
				scalingFactor,
				ts
		FROM		scalingFactor
		WHERE		appliedDate >= @today
			AND	appliedDate < @tomorrow
			AND	deleted = 0) sf
ON		f.hiPortfolioCode = sf.hiPortfolioCode

--NB TPE factors are effective on each day following their creation (so no < @tomorrow check)
LEFT JOIN	(SELECT		taxProvisionFactorID,
				hiPortfolioCode,
				provisionEstimate,
				ts
		FROM		taxProvisionFactor
		WHERE		deleted = 0) tf
ON		f.hiPortfolioCode = tf.hiPortfolioCode

LEFT JOIN	(SELECT		valuationBasisID,
				hiPortfolioCode,
				valuationBasisEffect
		FROM		valuationBasis
		WHERE		appliedDate >= @today
			AND	appliedDate < @tomorrow
			AND	deleted = 0) vb
ON		f.hiPortfolioCode = vb.hiPortfolioCode

LEFT JOIN	(SELECT		revaluationFactorID,
				hiPortfolioCode,
				totalChange,
				effectiveDate,
				endDate,
				workingDays,
				ts
		FROM		revaluationFactor
		WHERE		effectiveDate <= @today
			AND	endDate >= @today
			AND	deleted = 0) rf
ON		f.hiPortfolioCode = rf.hiPortfolioCode

LEFT JOIN	(SELECT		tolerancesID,
				hiPortfolioCode,
				assetMovement,
				upperTolerance,
				lowerTolerance,
				priceIncreaseOnly
		FROM		fundTolerances
		WHERE		fundTolerances.inUse = 1) ft
ON		f.hiPortfolioCode = ft.hiPortfolioCode

LEFT JOIN	dailyFundStatus dfs
ON		f.hiPortfolioCode = dfs.hiPortfolioCode
	AND	dfs.StatusDate >= @today
	AND	dfs.statusDate < @tomorrow

WHERE		f.assetFundID = @cAssetFundID
	AND	f.deleted = 0




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

