SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UsersUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UsersUpdate]
GO










CREATE procEDURE dbo.usp_UsersUpdate
  @sLoginID varchar(50),
  @sUserName varchar(50),
  @bDeleted bit,
  @ts timestamp output
AS
  set nocount on
  update users set 
    userName = @sUserName,
    deleted = @bDeleted
  where loginID = @sLoginID  and ts = @ts 
  if @@ROWCOUNT = 0 
  begin
    raiserror('Concurrency violation', 11, 1)
    return (-1)
  end
  else
  begin
    select @ts = ts
      from Users with (nolock)
      where LoginID = @sLoginID
  end
  set nocount off







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

