SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedIndexValuesActivate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedIndexValuesActivate]
GO






CREATE PROCEDURE dbo.usp_ImportedIndexValuesActivate
  @iSnapshotID bigint
AS
  set nocount on
  update ImportedIndexValues
    set active = 0
    where SnapshotID <> @iSnapshotID and
		companycode in  (select companycode from ImportedIndexValues where SnapshotID = @iSnapshotID) AND
        marketIndexID in (select marketIndexID from ImportedIndexValues where SnapshotID = @iSnapshotID)
  update ImportedIndexValues
    set active = 1
  where SnapshotID = @iSnapshotID
  set nocount on






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

