SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_BenchMarkSplitGetByFundGroupID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_BenchMarkSplitGetByFundGroupID]
GO

CREATE PROCEDURE dbo.usp_BenchMarkSplitGetByFundGroupID

	(
		@fundGroupId int
	)

AS
	

	SELECT af.assetFundID, bs.hiPortfolioCode, bs.proportion, af.companyCode, m.marketIndexID, m.indexName, 
	               dbo.udf_getCurrentStockMarketIndex(m.marketIndexID, af.assetFundID) AS currentValue, dbo.udf_getPreviousStockMarketIndex(m.marketIndexID, 
	               af.assetFundID) AS previousValue, dbo.udf_getCurrencyCodeForStockMarketIndex(m.marketIndexID) AS currencyCode, 
	               dbo.udf_getCurrencyCurrentRate(dbo.udf_getCurrencyCodeForStockMarketIndex(m.marketIndexID), af.assetFundID) AS currencyCurrentRate, 
	               dbo.udf_getCurrencyPreviousRate(dbo.udf_getCurrencyCodeForStockMarketIndex(m.marketIndexID), af.assetFundID) 
	               AS currencyPreviousRate
	FROM  AssetFundsInFundGroups LEFT OUTER JOIN
	               FundGroups ON AssetFundsInFundGroups.fundGroupID = FundGroups.fundGroupID RIGHT OUTER JOIN
	               AssetFunds af ON AssetFundsInFundGroups.assetFundID = af.assetFundID RIGHT OUTER JOIN
	               BenchmarkSplit bs LEFT OUTER JOIN
	               MarketIndices m ON bs.marketIndexID = m.marketIndexID AND m.deleted = 0 ON af.assetFundID = bs.assetFundID AND af.deleted = 0
	WHERE (bs.active = 1) AND (bs.deleted = 0) AND (FundGroups.fundGroupID = @fundGroupId) 
		
		
	
	SET NOCOUNT OFF
	RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

