SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_UserPermissionsGetAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_UserPermissionsGetAll]
GO





CREATE procEDURE dbo.usp_UserPermissionsGetAll

	(
		@LoginId varchar(50),
		@CompanyCode varchar(10)
	)

AS
	 SET NOCOUNT ON 
	 --this procedure is used to populate the tree in the user maintenance screen
	 
	 SELECT     P.PermissionId, P.DisplayName, P.ParentId, P.UniqueName, CAST(0 AS bit) AS Granted, P.IsGroup
	 FROM dbo.Permission P 
	 WHERE isgroup=1
	 UNION
	 SELECT     P.PermissionId, P.DisplayName, P.ParentId, P.UniqueName, CAST(0 AS bit) AS Granted, P.IsGroup
	 FROM         dbo.CompanyPermission INNER JOIN
	                       dbo.Permission P ON dbo.CompanyPermission.PermissionId = P.PermissionId
	 WHERE     (dbo.CompanyPermission.CompanyCode = @CompanyCode) AND P.PermissionId not in
		( 
			SELECT     P.PermissionId
			FROM         dbo.CompanyPermission INNER JOIN
								dbo.CompanyUserPermission ON dbo.CompanyPermission.CompanyPermissionId = dbo.CompanyUserPermission.CompanyPermissionId INNER JOIN
								dbo.Permission P ON dbo.CompanyPermission.PermissionId = P.PermissionId
			WHERE     (dbo.CompanyUserPermission.loginID = @LoginId) AND (dbo.CompanyPermission.CompanyCode = @CompanyCode)
		)
	 union
	 SELECT     P.PermissionId, P.DisplayName, P.ParentId, P.UniqueName, cast(1 as bit) AS Granted,P.IsGroup
	 FROM         dbo.CompanyPermission INNER JOIN
	                       dbo.CompanyUserPermission ON dbo.CompanyPermission.CompanyPermissionId = dbo.CompanyUserPermission.CompanyPermissionId INNER JOIN
	                       dbo.Permission P ON dbo.CompanyPermission.PermissionId = P.PermissionId
	 WHERE     (dbo.CompanyUserPermission.loginID = @LoginId) AND (dbo.CompanyPermission.CompanyCode = @CompanyCode)
	 order by P.ParentId,P.IsGroup,P.DisplayName
	RETURN 





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

