SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundExternalSystemIdentifiersUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundExternalSystemIdentifiersUpdate]
GO







CREATE  PROCEDURE dbo.usp_FundExternalSystemIdentifiersUpdate
  @cHiPortfolioCode char(10),
  @iSystemID int,
  @sAlternativeFundCode varchar(50),
  @ts timestamp
AS
  set nocount on
  update FundExternalSystemIdentifiers
    set AlternativeFundCode = @sAlternativeFundCode
    where systemID = @iSystemID and HiportfolioCode = @cHiPortfolioCode and ts=@ts
  if @@ROWCOUNT = 0 
  begin
    raiserror('Concurrency violation', 11, 1)
    return (-1)
  end
  set nocount off







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

