SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CompanyPricingDayAdvance]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CompanyPricingDayAdvance]
GO


CREATE PROC	dbo.usp_CompanyPricingDayAdvance

	@companyCode	varchar(10)

-- Advance the active pricing day for the passed Company
-- KAJ 02/09/2005

AS

UPDATE		HBOSCompanies
SET		activePricingDay =
			dbo.udf_GetNextPricingDayForCompany(@companyCode, null, null)
WHERE		companyCode = @companyCode




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

