SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedSplitWorkingTableClear]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedSplitWorkingTableClear]
GO



CREATE PROCEDURE dbo.usp_ImportedSplitWorkingTableClear
(
	@SnapshotID bigint
)
AS
DELETE FROM ImportedSplitWorkingTable
Where SnapshotID=@SnapshotID


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

