SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CurrencyGetStaticData]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CurrencyGetStaticData]
GO



/****** Object:  Stored Procedure dbo.usp_CurrencyGetStaticData    Script Date: 09/08/2005 11:21:35 ******/
/*
	Get currency information for the static data screen

*/
CREATE  PROCEDURE dbo.usp_CurrencyGetStaticData

(
	@currencyCode VARCHAR(10)
)

AS

DECLARE @retVal INT

SET NOCOUNT OFF
SET @retVal = 0

SELECT	  currencyCode
		, currency
		, ts
FROM       	dbo.Currencies
WHERE	RTRIM(currencyCode) = @currencyCode
     AND		deleted = 0
ORDER BY 	currencyCode

IF @@ROWCOUNT = 0 
	BEGIN
	RAISERROR('No currencies match the specified currency code (%s)', 11, 1, @currencyCode)
	SET @retVal = -1
	END

SET NOCOUNT ON

RETURN (@retVal)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

