if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundUpdate]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



CREATE   procEDURE dbo.usp_FundUpdate

--Updates core properties of a fund
--Amended by KAJ 16/05/05
--	KAJ	22/11/05	Addet company Code func
  @cHiPortfolioCode char(10),
  @sFullName varchar(100),
  @sShortName varchar(50), 
  @cFundClassOrSeries char(2),
  @cFundType char(1),
  @bIsMidPriceBidPrice bit,
  @cAssetFundID char(8),
  @bFundOnHi3 bit,
  @bIsDual bit,
  @bIsExDividend bit,
  @bIsLife bit,
  @bIsBenchmarkAble bit,
  @securityCode varchar(8),
  @ts timestamp output
AS

set nocount on

DECLARE @companyCode VARCHAR(10)

--Store Company code from asset fund
SELECT		@companyCode = companyCode
FROM		AssetFunds
WHERE		assetFundID = @cAssetFundID

update	Funds

set	fullName = @sFullName,
	shortName = @sShortName, 
	fundClassOrSeries = @cFundClassOrSeries,
	fundType = @cFundType,
	isMidPriceBidPrice = @bIsMidPriceBidPrice,
	assetFundID = @cAssetFundID,
	fundOnHi3 = @bFundOnHi3,
	isDual = @bIsDual,
	isExDividend = @bIsExDividend,
	securityCode=@securityCode,
	isLife = @bIsLife,
	isBenchmarkAble = @bIsBenchmarkAble,
	companyCode = @companyCode

where	hiPortfolioCode = @cHiPortfolioCode
and	ts = @ts

if @@ROWCOUNT = 0 
	begin
		raiserror('Concurrency violation', 11, 1)
		return (-1)
	end

SELECT		@ts = ts
FROM		Funds
WHERE		HiPortfolioCode = @cHiportfolioCode



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

