SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGroupsGetForCompanyCodeByType]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGroupsGetForCompanyCodeByType]
GO





CREATE  procEDURE dbo.usp_FundGroupsGetForCompanyCodeByType

	@sCompanyCode varchar(10),
	@cContainsType char(1)
--Load full fund group  info for all the fund groups in the passed company of the passed type
--KAJ	23/05/2005	ForRelease flag now returned
--PJN	10/10/2005	UseMajorDenomination
as
set nocount on 

SELECT		g.FundGroupID,
		g.CompanyCode,
		g.ContainsType,
		g.FullName,
		g.ShortName,
		g.forRelease,
		g.allowSelectAllAuthorisation,
		g.ts

from		fundGroups g
where		g.companyCode = @sCompanyCode
	and     	g.deleted = 0
	and	g.containsType = @cContainsType
order by shortName

set nocount off




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

