SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_GrantPermissions]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_GrantPermissions]
GO





CREATE procEDURE dbo.usp_GrantPermissions

	(
		@UserToGrantPermissionsTo varchar(20)
	)

AS
	DECLARE @sp varchar(1000)
	DECLARE permissions_cursor 
		CURSOR FAST_FORWARD FOR 
			SELECT 
				Name 
			FROM 
				SYSOBJECTS
			WHERE 
				type = 'p'
		OPEN permissions_cursor
		FETCH NEXT FROM permissions_cursor 
		INTO @sp
		WHILE @@FETCH_STATUS = 0
		BEGIN
			exec ('Grant execute on '+ @sp + ' to ' + @UserToGrantPermissionsTo)
			print 'Grant execute on '+ @sp + ' to ' + @UserToGrantPermissionsTo
			FETCH NEXT FROM permissions_cursor 
			INTO @sp
		END

		CLOSE permissions_cursor
		DEALLOCATE permissions_cursor
	RETURN 






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

