SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PopulateMIDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PopulateMIDate]
GO

CREATE    PROCEDURE dbo.usp_PopulateMIDate AS

/*
    Stored procedure to populate the MI data tables with the data - only for use
    on the MI server so no permissions for users only for the job that runs the 
    database population

    Written by MISDC Finance MAW 26/09/2005
 */

/*
    First we will check that all of the target tables are empty.
    This prevents us doubling up data rows in case the database restore never took place
    Worst case scenario is old data but at least some data
*/

DECLARE @SQLError INT
DECLARE @SQLMessage VARCHAR (50)

EXEC dbo.usp_ReportResults 'Population of MI tables started'

IF (SELECT COUNT (*) FROM dbo.Report_Assetfund_Identity) > 0
	BEGIN
		EXEC dbo.usp_ReportResults 'Invalid row count: Report_Assetfund_Identity'
		RAISERROR ('Invalid row count: %s', 1, 1, 'Report_Assetfund_Identity' )
		RETURN 1
	END

IF (SELECT COUNT (*) FROM dbo.Report_Benchmark_Identity) > 0
	BEGIN
		EXEC dbo.usp_ReportResults 'Invalid row count: Report_Benchmark_Identity'
		RAISERROR ('Invalid row count: %s', 1, 1, 'Report_Benchmark_Identity' )
		RETURN 1
	END

IF (SELECT COUNT (*) FROM dbo.Report_Company_Identity) > 0
	BEGIN
		EXEC dbo.usp_ReportResults 'Invalid row count: Report_Company_Identity'
		RAISERROR ('Invalid row count: %s', 1, 1, 'Report_Company_Identity' )
		RETURN 1
	END

IF (SELECT COUNT (*) FROM dbo.Report_Fund_Identity) > 0
	BEGIN
		EXEC dbo.usp_ReportResults 'Invalid row count: Report_Fund_Identity'
		RAISERROR ('Invalid row count: %s', 1, 1, 'Report_Fund_Identity' )
		RETURN 1
	END

IF (SELECT COUNT (*) FROM dbo.Report_Pricing_Fact) > 0
	BEGIN
		EXEC dbo.usp_ReportResults 'Invalid row count: Report_Pricing_Fact'
		RAISERROR ('Invalid row count: %s', 1, 1, 'Report_Pricing_Fact' )
		RETURN 1
	END

IF (SELECT COUNT (*) FROM dbo.Report_Valuationdate_Fact) > 0
	BEGIN
		EXEC dbo.usp_ReportResults 'Invalid row count: Report_Valuationdate_Fact'
		RAISERROR ('Invalid row count: %s', 1, 1, 'Report_Valuationdate_Fact' )
		RETURN 1
	END


-- If all tables are empty then the database restore completed and we can now fill them up

SET @SQLMessage = 'Failed updating: Report_Assetfund_Identity'
EXEC dbo.usp_ReportResults @SQLMessage

INSERT INTO Report_Assetfund_Identity
SELECT *
FROM dbo.vwreport_assetfund_identity

SET @SQLError = @@ERROR
IF @SQLError <> 0
	BEGIN
		SET @SQLMessage = @SQLMessage + ' - error '+ CAST (@SQLError AS VARCHAR (10))
		EXEC dbo.usp_ReportResults @SQLMessage
		RETURN 1
	END

SET @SQLMessage = 'Failed updating: Report_Benchmark_Identity'
EXEC dbo.usp_ReportResults @SQLMessage

INSERT INTO Report_Benchmark_Identity
SELECT *
FROM dbo.vwreport_benchmark_identity

SET @SQLError = @@ERROR
IF @SQLError <> 0
	BEGIN
		SET @SQLMessage = @SQLMessage + ' - error '+ CAST (@SQLError AS VARCHAR (10))
		EXEC dbo.usp_ReportResults @SQLMessage
		RETURN 1
	END

SET @SQLMessage = 'Failed updating: Report_Company_Identity'
EXEC dbo.usp_ReportResults @SQLMessage

INSERT INTO Report_Company_Identity
SELECT *
FROM dbo.vwreport_company_identity

SET @SQLError = @@ERROR
IF @SQLError <> 0
	BEGIN
		SET @SQLMessage = @SQLMessage + ' - error '+ CAST (@SQLError AS VARCHAR (10))
		EXEC dbo.usp_ReportResults @SQLMessage
		RETURN 1
	END

SET @SQLMessage = 'Failed updating: Report_Fund_Identity'
EXEC dbo.usp_ReportResults @SQLMessage

INSERT INTO Report_Fund_Identity
SELECT *
FROM dbo.vwreport_fund_identity

SET @SQLError = @@ERROR
IF @SQLError <> 0
	BEGIN
		SET @SQLMessage = @SQLMessage + ' - error '+ CAST (@SQLError AS VARCHAR (10))
		EXEC dbo.usp_ReportResults @SQLMessage
		RETURN 1
	END

SET @SQLMessage = 'Failed updating: Report_Pricing_Fact'
EXEC dbo.usp_ReportResults @SQLMessage

INSERT INTO Report_Pricing_Fact
SELECT *
FROM dbo.vwreport_pricing_fact

SET @SQLError = @@ERROR
IF @SQLError <> 0
	BEGIN
		SET @SQLMessage = @SQLMessage + ' - error '+ CAST (@SQLError AS VARCHAR (10))
		EXEC dbo.usp_ReportResults @SQLMessage
		RETURN 1
	END

SET @SQLMessage = 'Failed updating: Report_Valuationdate_Fact'
EXEC dbo.usp_ReportResults @SQLMessage

INSERT INTO Report_Valuationdate_Fact
SELECT *
FROM dbo.vwreport_valuationdate_fact

SET @SQLError = @@ERROR
IF @SQLError <> 0
	BEGIN
		SET @SQLMessage = @SQLMessage + ' - error '+ CAST (@SQLError AS VARCHAR (10))
		EXEC dbo.usp_ReportResults @SQLMessage
		RETURN 1
	END

EXEC dbo.usp_ReportResults 'Processing completed succesfully'

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

