SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_SystemStatusImports]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_SystemStatusImports]
GO




CREATE PROC dbo.usp_SystemStatusImports

-- Returns that status od all the imports relevant to the passed company 
-- KAJ 15/06/05

	@companyCode varchar(10)

AS

SELECT		a.ImportName,
		 b.snapshotDate LastImported,
		UPPER(b.userID) ImportedBy

FROM		(
		--Get fund price import details
		SELECT		CASE f.fundType	WHEN 'C' THEN 'Composite Fund Prices'
						WHEN 'L' THEN 'Linked Fund Prices'
						WHEN 'O' THEN 'OEIC Fund Prices'
				END AS ImportName,
				MAX(s.SnapshotID) SnapshotID

		FROM		importedFundPrices ifp

		LEFT JOIN	Snapshot s
		ON		ifp.SnapshotID = s.SnapshotID

		INNER JOIN	funds f
		ON		ifp.hiPortfolioCode = f.hiPortfolioCode

		INNER JOIN	assetFunds af
		ON		f.assetFundID = af.assetFundID
			AND	af.companyCode = @companyCode

		GROUP BY	f.fundType

		UNION ALL

		--Get Asset fund split status
		SELECT		'Asset Fund Split' AS ImportName,
				MAX(s.SnapshotID) SnapshotID

		FROM		benchmarksplit bms

		LEFT JOIN	Snapshot s
		ON		bms.SnapshotID = s.SnapshotID

		INNER JOIN	assetFunds af
		ON		bms.assetFundID = af.assetFundID
			AND	af.companyCode = @companyCode
		--There is no asset fund split for HLL (needs to be specifically excluded
		--as static data entries fake imports
			AND	s.process='I'
		where right(s.importfilename,3)='afs'

		UNION ALL

		--Get Composite Fund Split status
		SELECT		'Composite Fund Split' AS ImportName,
				MAX(s.SnapshotID) SnapshotID

		FROM		benchmarksplit bms

		LEFT JOIN	Snapshot s
		ON		bms.SnapshotID = s.SnapshotID

		INNER JOIN	assetFunds af
		ON		bms.assetFundID = af.assetFundID
			AND	af.companyCode = @companyCode
		where right(s.importfilename,3)='cmp'
		
		UNION ALL

		--Get exchange rates status
		SELECT		'Exchange Rates' AS ImportName,
				MAX(s.SnapshotID) SnapshotID

		FROM		currencyRates c

		LEFT JOIN	Snapshot s
		ON		c.SnapshotID = s.SnapshotID

		WHERE		c.companyCode = @companyCode

		UNION ALL

		--Get Market Index status
		SELECT		'Market Indices' AS ImportName,
				MAX(s.SnapshotID) SnapshotID

		FROM		importedIndexValues i

		LEFT JOIN	Snapshot s
		ON		i.SnapshotID = s.SnapshotID

		WHERE		i.companyCode = @companyCode) a

LEFT JOIN	Snapshot b
ON		a.SnapshotID = b.SnapshotID

-- Exclude any imports that have never occurred
WHERE		a.SnapshotID IS NOT NULL and b.process = 'I' and b.deleted=0



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

