SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PredictedPriceHistoricalReportByFundGroup]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PredictedPriceHistoricalReportByFundGroup]
GO








CREATE  PROCEDURE dbo.usp_PredictedPriceHistoricalReportByFundGroup
	@fundGroupID INT,
	@startDate DATETIME,
	@endDate DATETIME
AS

SELECT      
      @fundGroupID as fundGroupID, 
      afp.hiPortfolioCode AS FundCode, 
      f.shortName AS FundName, 
      afp.authorisationDate as PriceDate, 
      afp.PredictedPrice as PredictedPrice, 
      CASE afp.wasFromPrediction
            WHEN 1
                  THEN dbo.udf_getImportedFundPriceFromAuthorisedDetails(      afp.hiPortfolioCode,
                                                            afp.FundPriceSnapshotID,
                                                            afp.valuationBasisID,
                                                            afp.wasMidPriceBidPrice)
            ELSE
                  afp.Price
      END AS ImportedPrice,
      CASE  afp.wasFromPrediction
           WHEN 1 THEN 'Predicted'
            ELSE 'Imported'
      END AS DistributedPrice
 
FROM        AuthorisedFundPrice afp
 
INNER JOIN  funds f
ON          afp.hiPortfolioCode = f.hiPortfolioCode
 
INNER JOIN fundsInFundGroups ffg
ON	   f.hiPortfolioCode = ffg.hiPortfolioCode
AND        ffg.FundGroupID = @FundGroupID
AND        ffg.deleted = 0

WHERE       afp.authorisationDate BETWEEN @startDate AND @endDate
      AND   afp.deleted = 0 
      AND   f.deleted = 0 

UNION

-- Asset Fund Join 

SELECT      
      @fundGroupID as fundGroupID, 
      afp.hiPortfolioCode AS FundCode, 
      f.shortName AS FundName, 
      afp.authorisationDate as PriceDate, 
      afp.PredictedPrice as PredictedPrice, 
      CASE afp.wasFromPrediction
            WHEN 1
                  THEN dbo.udf_getImportedFundPriceFromAuthorisedDetails(      afp.hiPortfolioCode,
                                                            afp.FundPriceSnapshotID,
                                                            afp.valuationBasisID,
                                                            afp.wasMidPriceBidPrice)
            ELSE
                  afp.Price
      END AS ImportedPrice,
      CASE  afp.wasFromPrediction
           WHEN 1 THEN 'Predicted'
            ELSE 'Imported'
      END AS DistributedPrice
 
FROM        AuthorisedFundPrice afp
 
INNER JOIN  funds f
ON          afp.hiPortfolioCode = f.hiPortfolioCode
 
INNER JOIN  assetFunds af
ON          f.assetFundID = af.assetFundID

INNER JOIN assetFundsInFundGroups afg
ON	   f.assetFundId = afg.assetFundId
AND        afg.FundGroupID = @FundGroupID
AND        afg.deleted = 0

WHERE       afp.authorisationDate BETWEEN @startDate AND @endDate
      AND   afp.deleted = 0 
      AND   f.deleted = 0 
      AND   af.deleted = 0


ORDER BY    FundCode,
            afp.authorisationDate







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

