SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ReportLoadPriceComparisionData]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ReportLoadPriceComparisionData]
GO





SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO





CREATE    procEDURE dbo.usp_ReportLoadPriceComparisionData
	 @snapShotId bigint,
	 @valuationDate datetime
AS
  set nocount on


SELECT     
	dbo.Funds.fullName AS FundFullName, 
	dbo.AssetFunds.fullName AS AssetFundFullName, 
	CASE dbo.funds.fundType WHEN 'O' THEN 'OEIC' WHEN 'C' THEN 'Composite' ELSE 'Linked' END AS FundType, 
	round(dbo.ImportedFundPrices.bidPrice,2) AS ImportedPrice, 
	left(convert(varchar(10),dbo.ImportedFundPrices.valuationPoint,103),10) AS ImportedPriceValuationDate, 
	COALESCE (cast (round(dbo.AuthorisedFundPrice.price,2) as varchar(50)), 'None') AS AuthorisedPrice, 
	COALESCE (left(convert(varchar(10),@valuationDate ,103),10), 'Unavailable') AS AuthorisedPriceValuationDate, 
	CASE wasFromPrediction WHEN  1 THEN  'Predicted' WHEN 0 THEN 'Imported' ELSE 'n/a' END AS AuthorisedPriceType,
	CASE dbo.AuthorisedFundPrice.price
		WHEN 0 THEN
			CONVERT(varchar(50), 0)
		ELSE	COALESCE (cast (CASE  dbo.ImportedFundPrices.bidPrice
						WHEN  NULL THEN CONVERT(varchar(50), 0)
						ELSE ROUND((cast(dbo.ImportedFundPrices.bidPrice as float)
							-cast(dbo.AuthorisedFundPrice.price as float))
							/cast(dbo.AuthorisedFundPrice.price as float),4)* 100 END as VARCHAR(50))
			,CONVERT(varchar(50), 0)) END AS PriceMovement
FROM         dbo.ImportedFundPrices INNER JOIN
                      dbo.Funds ON dbo.ImportedFundPrices.hiPortfolioCode = dbo.Funds.hiPortfolioCode INNER JOIN
                      dbo.AssetFunds ON dbo.Funds.assetFundID = dbo.AssetFunds.assetFundID LEFT OUTER JOIN
                      dbo.AuthorisedFundPrice ON dbo.ImportedFundPrices.hiPortfolioCode = dbo.AuthorisedFundPrice.hiPortfolioCode AND 
                      dbo.AuthorisedFundPrice.authorisationDate = @valuationDate
WHERE     (dbo.ImportedFundPrices.snapshotID = @snapshotid) AND (COALESCE (dbo.AuthorisedFundPrice.deleted, 0) = 0)
         

               
--exec dbo.usp_SnapshotCancel @snapShotId                                





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

