SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[kaj_AuthorisedFundPriceCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[kaj_AuthorisedFundPriceCreate]
GO









CREATE      PROCEDURE dbo.kaj_AuthorisedFundPriceCreate 

-- Authorises the passed fund enabling the fund price to be completely recreated from first principles.
-- If its the first fund to be authorised for the asset fund on the day then the 
-- asset fund gets authorised too.

-- Rewritten 12/08/05 based on change to benchmarking process
-- KAJ 10/10/2005 - Corrected Distributed Offer, Mid and Bare Price calc

	-- authorised fund properties
	@cHiPortfolioCode		char(10),
	@cCurrencyCode			varchar(10),
	@mPrice				money,
	@bIsBidPriceMidPrice		bit,
	@bWasFromPrediction		bit,
	@dValuationBasisEffect		decimal(10,6),
	@mImportedPrice			money,
	@mPredictedFundPrice		money,

	-- authorised asset fund properties
	@cAssetFundID			char(8),
	@mAssetUnitPrice		money,

	-- foreign keys (fund and asset fund)
	@iFundPriceSnapshotID		bigint,
	@iTolerancesID			int,

	-- foreign keys (fund only)
	@iTaxProvisionFactorID		int,
	@iRevaluationFactorID		int,
	@iScalingFactorID		int,
	@iXFactorID			int,

	-- foreign keys (asset fund only)
	@iCurrencyRateSnapshotID	bigint,
	@iMarketIndiciesSnapshotID	bigint,
	@iBenchmarkSplitSnapshotID	bigint,

	-- output parameters
	@ts				timestamp	output,
	@authorisationDate		datetime	output,
	@dAssetMovement		decimal (12, 6)

AS

set nocount on

--declarations
DECLARE		@today datetime				-- current pricing date
DECLARE		@iAuthorisedAssetFundPriceID bigint	-- ID of the authorised asset fund
DECLARE		@dtValuationPoint datetime		-- The valuation point of the fund price
DECLARE		@iValuationBasisID int			-- Valuation Basis record created when fund authorised
DECLARE		@mOfferPrice money			-- Calculated when price predicted otherwise imported
DECLARE		@mMidPrice money			-- Calculated when price predicted otherwise imported
DECLARE		@mBarePrice money			-- Calculated when price predicted otherwise imported

-- get current pricing date for this fund
set @today = dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode)

--Verify fund exists
if not exists(select hiPortfolioCode from funds where hiPortfolioCode = @cHiPortfolioCode)
	begin
		raiserror('UnknownFundCode', 11, 1)
		return (-1)
end

--Verify fund status is acceptable (concurrency check)
if dbo.udf_getCurrentFundStatus(@cHiPortfolioCode, @today) >= 30
	begin
		raiserror('AuthoriseFundAlreadyAuthorised', 11, 1)
		return (-1)
end

--Only allow authorisation of prediced unimported prices
if COALESCE(@iFundPriceSnapshotID, 0) = 0 AND @bWasFromPrediction = 0
	BEGIN
		RAISERROR('AuthoriseFundNoPriceImported', 11, 1)
		RETURN (-1)
	END
		
-- authorise the asset fund if it hasn't been already
exec @iAuthorisedAssetFundPriceID = kaj_AssetFundAuthorise	@today,
								@cAssetFundID,
								@mAssetUnitPrice,
								@iCurrencyRateSnapshotID,
								@iMarketIndiciesSnapshotID,
								@iBenchmarkSplitSnapshotID,
								@iFundPriceSnapshotID,
								@iTolerancesID, 
								@dAssetMovement

--set valuation point, Offer, Mid and Bare Prices depending on whether price is predicted
--and whether fund is dual price
if (@bWasFromPrediction = 0)
	select		@dtValuationPoint = valuationPoint,
			@mOfferPrice = CASE f.isDual WHEN 0 THEN 0 ELSE ifp.unroundedOfferPrice END,
			@mBarePrice = CASE f.isDual WHEN 0 THEN 0 ELSE ifp.barePrice END,
			@mMidPrice = CASE f.isDual WHEN 0 THEN 0 ELSE CASE @bIsBidPriceMidPrice
						WHEN 1 THEN unroundedBidPrice
						WHEN 0 THEN (unroundedBidPrice + unroundedOfferPrice)/2
					END END	

	from		importedFundPrices ifp

	inner join	funds f
	on		ifp.hiportfolioCode = f.hiportfolioCode

	where		ifp.SnapshotID = @iFundPriceSnapshotID
		and	ifp.hiPortfolioCode = @cHiPortfolioCode
else
	begin
		--check to see if there is a specific valuation point for this fund
		select		@dtValuationPoint = fundSpecificValuationPoint
		from		funds
		where		hiPortfolioCode = @cHiPortfolioCode

		if		@dtValuationPoint is null
			--get the company generic valuation point
			select		@dtValuationPoint = valuationPoint
			from		funds
			inner join	AssetFunds
			on		(funds.AssetFundID = AssetFunds.AssetFundID)
			inner join	HBOSCompanies
			on		(AssetFunds.CompanyCode = HBOSCompanies.CompanyCode)
			where		hiPortfolioCode=@cHiPortfolioCode

		--clean up the valuation point (add the valuation time to the current pricing date)
		select	@dtValuationPoint = left(convert(varchar(10), @today, 102), 10) + ' ' +
				convert(varchar(8), @dtValuationPoint, 108)

		--set the offer, mid and bare price (previous authorised value * todays movement)
		SELECT TOP 1	@mOfferPrice = CASE f.isDual WHEN 0 THEN 0 ELSE afp.distributedOfferPrice * (1 +
					((@mPredictedFundPrice - afp.Price)/afp.Price)) END,
				@mMidPrice = CASE f.isDual WHEN 0 THEN 0 ELSE CASE @bIsBidPriceMidPrice WHEN 1 THEN
							@mPredictedFundPrice
						ELSE ((afp.distributedOfferPrice * (1 +
					((@mPredictedFundPrice - afp.Price)/afp.Price))) +
						@mPredictedFundPrice) /2 END END,
				@mBarePrice = CASE f.isDual WHEN 0 THEN 0 ELSE afp.distributedBarePrice * (1 +
					((@mPredictedFundPrice - afp.Price)/afp.Price)) END
		FROM		AuthorisedFundPrice afp

		INNER JOIN	funds f
		ON		afp.hiPortfolioCode = f.hiPortfolioCode

		WHERE		afp.hiPortfolioCode = @cHiPortfolioCode
			AND	afp.deleted = 0
			AND	afp.authorisationDate < @today

		ORDER BY	afp.authorisationDate DESC
	end

--Deactivate any valuation basis created for this fund today
UPDATE		valuationBasis
SET		deleted = 1
WHERE		hiPortfolioCode = @cHiPortfolioCode
	AND	appliedDate >= @today

--store any valuation basis
IF	COALESCE(@dValuationBasisEffect,0) <> 0
	BEGIN
		INSERT INTO	valuationBasis
		(
			hiPortfolioCode,
			valuationBasisEffect,
			appliedDate
		)
		VALUES(
			@cHiPortfolioCode,
			@dValuationBasisEffect,
			@today
		)
		SET	@iValuationBasisID = SCOPE_IDENTITY()
	END

--authorise the fund
insert into	AuthorisedFundPrice
	(
		hiPortfolioCode,
		authorisationDate,
		price,
		currencyCode,
		valuationPoint,
		wasFromPrediction,
		fundPriceSnapshotID,
		authorisedAssetFundPriceID,
		tolerancesID,
		taxProvisionFactorID,
		revaluationFactorID,
		scalingFactorID,
		xFactorID,
		valuationBasisID,
		wasMidPriceBidPrice,
		predictedPrice,
		importedPrice,
		distributedOfferPrice,
		distributedMidPrice,
		distributedBarePrice
	)
	values (
		@cHiPortfolioCode, 
		@today,
		@mPrice, 
		@cCurrencyCode,
		@dtValuationPoint,
		@bwasFromPrediction, 
		@iFundPriceSnapshotID,
		@iAuthorisedAssetFundPriceID,
		@iTolerancesID,
		@iTaxProvisionFactorID, 
		@iRevaluationFactorID,
		@iScalingFactorID, 
		@iXFactorID,
		@iValuationBasisID,
		@bIsBidPriceMidPrice,
		@mPredictedFundPrice,
		@mImportedPrice,
		@mOfferPrice,
		@mMidPrice,
		@mBarePrice
	)

--update the status
execute		usp_DailyFundStatusUpdate @cHiPortfolioCode, 30

--return the authorised timestamp and status changed time
SELECT     top 1	@ts = AuthorisedFundPrice.ts,
			@authorisationDate = DailyFundStatusAuditTrail.changeDateTime

FROM			AuthorisedFundPrice

INNER JOIN		DailyFundStatusAuditTrail
ON			AuthorisedFundPrice.hiPortfolioCode = DailyFundStatusAuditTrail.hiPortfolioCode

WHERE			(AuthorisedFundPrice.hiPortfolioCode = @cHiPortfolioCode)
	AND		(AuthorisedFundPrice.authorisationDate = @today)
	and		changedto = 30

ORDER BY		changeDateTime DESC

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

