SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_SnapshotCancel]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_SnapshotCancel]
GO




CREATE PROCEDURE dbo.usp_SnapshotCancel
  @iSnapshotID bigint
AS
  set nocount on
  delete from Benchmarksplit
    where SnapshotID = @iSnapshotID
  delete from ImportedFundPrices
    where SnapshotID = @iSnapshotID
  delete from CurrencyRates
    where SnapshotID = @iSnapshotID
  delete from ImportedIndexValues
    where SnapshotID = @iSnapshotID

  update Snapshot
    set deleted = 1
    where SnapshotID = @iSnapshotID






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

