SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ScalingFactorCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ScalingFactorCreate]
GO














CREATE PROCEDURE dbo.usp_ScalingFactorCreate
	@cHiPortfolioCode 	char(10),
	@dScalingFactor		decimal(18,7),
	@newFactorID 		INT OUTPUT	-- SJR 24 May 2004 - Return the new factor ID
AS
  set nocount on

-- Update old scaling factors for todays date to be deleted.
-- May update no rows if this is the first factor for the day, but simpler than checking and then updating the rows.
update scalingFactor
set deleted = 1
where hiPortfolioCode = @cHiPortfolioCode
and deleted = 0
-- Insert the new factor
insert into scalingFactor( hiPortfolioCode , scalingFactor , appliedDate , deleted )
values( @cHiPortfolioCode , @dScalingFactor , dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode), 0 )

SET @newFactorID = @@IDENTITY

-- Make sure we managed to insert a record
  if @@ROWCOUNT = 0 
  begin
    raiserror('Concurrency violation', 11, 1)
    return (-1)
  end
  set nocount off









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

