SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGroupsGetForCompanyCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGroupsGetForCompanyCode]
GO





CREATE  procEDURE dbo.usp_FundGroupsGetForCompanyCode
  @sCompanyCode varchar(10)
as
set nocount on 
select		companyCode,
		fundGroupID,
		containsType,
		fullName,
		shortName,
		forRelease,
		CONVERT( bit, 	CASE	(
					SELECT	Count(*)
					FROM	AssetFundsInFundGroups
					WHERE	FundGroupID = g.FundGroupID
					)
				+
					(
					SELECT	Count(*)
					FROM	FundsInFundGroups
					WHERE	FundGroupID = g.FundGroupID
					) WHEN 0 THEN 0 ELSE 1 END)  hasAssociatedFunds,
		allowSelectAllAuthorisation,
		ts

from		fundGroups g
where		companyCode = @sCompanyCode
	and	deleted = 0
	order by fullName

set nocount off




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

