SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGetImportFieldsForCompanyCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGetImportFieldsForCompanyCode]
GO






CREATE PROCEDURE dbo.usp_FundGetImportFieldsForCompanyCode

--Returns all funds required by the price import process for the passed Company
--KAJ 13/05/05

  @sCompanyCode varchar(10)

AS

SET NOCOUNT ON

-- get a small date time for midnight today
declare @today as smalldatetime
select @today = dbo.udf_GetCurrentPricingDayForCompany(@sCompanyCode, null, null)
declare @tomorrow as smalldatetime
select @tomorrow = dbo.udf_GetNextPricingDayForCompany(@sCompanyCode, null, null)

SELECT		f.HiPortFolioCode,
		a.AssetFundID,
		dfs.statusID,
		f.securityCode,
		f.FundType,
		f.isbenchmarkable

FROM		Funds f

INNER JOIN	AssetFunds a
ON		f.AssetFundID = a.AssetFundID

LEFT JOIN	dailyFundStatus dfs
ON		f.hiPortfolioCode = dfs.hiPortfolioCode
	AND	dfs.StatusDate >= @today
	AND	dfs.statusDate < @tomorrow

WHERE		a.CompanyCode = @sCompanyCode
	AND	f.deleted = 0
	AND	a.deleted = 0

ORDER BY	f.ShortName




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

