SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PredictedPriceHistoricalReportByFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PredictedPriceHistoricalReportByFund]
GO









CREATE    PROCEDURE dbo.usp_PredictedPriceHistoricalReportByFund
	@hiPortfolioCode CHAR (10), 
	@startDate DATETIME, 
	@endDate DATETIME
AS
SELECT    
        0 as fundGroupID, 
	Authorised.hiPortfolioCode AS FundCode, 
	funds.shortName AS FundName, 
	Authorised.authorisationDate as PriceDate, 
	Authorised.PredictedPrice as PredictedPrice, 
	CASE Authorised.wasFromPrediction
		WHEN 1
			THEN dbo.udf_getImportedFundPriceFromAuthorisedDetails ( Authorised.hiPortfolioCode, FundPriceSnapshotID, valuationBasisID, wasMidPriceBidPrice)
		ELSE
			Authorised.Price
	END AS ImportedPrice,
	CASE Authorised.wasFromPrediction
	     WHEN 1 THEN 'Predicted'
	     ELSE 'Imported'
	END AS DistributedPrice

FROM		AuthorisedFundPrice Authorised

INNER JOIN	funds
ON		Authorised.hiPortfolioCode = funds.hiPortfolioCode

INNER JOIN	assetFunds
on		funds.assetFundID = assetFunds.assetFundID

WHERE		Authorised.hiPortfolioCode = @hiPortfolioCode
	AND	Authorised.authorisationDate BETWEEN @startDate AND @endDate
	AND	Authorised.deleted = 0 
	AND	funds.deleted = 0 
	AND	assetFunds.deleted = 0

ORDER BY	FundCode,
		Authorised.authorisationDate









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

