SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundCheckExistence]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundCheckExistence]
GO





CREATE procEDURE dbo.usp_FundCheckExistence (@hiPortfolioCode char(10), @securityCode varchar(8), @fullName varchar(100), @shortName varchar(50), @hiPortfolioCodeExists bit output, @securityCodeExists bit output, @fullNameExists bit output, @shortNameExists bit output) AS 

SET NOCOUNT ON

IF @hiPortfolioCode is null 
	SET @hiPortfolioCodeExists = 0
ELSE IF len(@hiPortfolioCode) = 0
	SET @hiPortfolioCodeExists = 0
ELSE
	IF EXISTS (SELECT * FROM Funds WITH (NOLOCK) where hiPortfolioCode = @hiPortfolioCode) --AND deleted = 0
		SET @hiPortfolioCodeExists = 1
	ELSE
		SET @hiPortfolioCodeExists = 0

IF @securityCode is null 
	SET @securityCodeExists = 0
ELSE IF len(@securityCode) = 0
	SET @securityCodeExists = 0
ELSE
	IF EXISTS (SELECT * FROM Funds WITH (NOLOCK) where securityCode = @securityCode AND deleted = 0)
		SET @securityCodeExists = 1
	ELSE
		SET @securityCodeExists = 0

IF @fullName is not null AND len(@fullName) > 0
	IF EXISTS (SELECT * FROM Funds WITH (NOLOCK) where fullName = @fullName AND deleted = 0)
		SET @fullNameExists = 1
	ELSE
		SET @fullNameExists = 0
ELSE
	SET @fullNameExists = 0

IF @shortName is not null AND len(@shortName) > 0
	IF EXISTS (SELECT * FROM Funds WITH (NOLOCK) where shortName = @shortName AND deleted = 0)
		SET @shortNameExists = 1
	ELSE
		SET @shortNameExists = 0
ELSE
	SET @shortNameExists = 0


SET NOCOUNT OFF




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

