SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_DistributionFilesDeleteForFundGroupID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_DistributionFilesDeleteForFundGroupID]
GO











CREATE     PROCEDURE dbo.usp_DistributionFilesDeleteForFundGroupID

--Deletes all the distribution file associations for the passed fund group id
--KAJ 17/05/05
	@iFundGroupID int
AS

set nocount on

DELETE FROM	FundGroupsInFiles

WHERE		FundGroupID = @iFundGroupID

set nocount off










GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

