SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGetImportFields]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGetImportFields]
GO









CREATE procEDURE dbo.usp_FundGetImportFields

--Returns all funds required by the price import process for all companies
--PJN 20/05/2005


AS

SET NOCOUNT ON

SELECT		f.HiPortFolioCode,
		a.AssetFundID,
		dfs.statusID,
		f.FundType,
		a.CompanyCode,
		f.isbenchmarkable

FROM		Funds f

INNER JOIN	AssetFunds a
ON		f.AssetFundID = a.AssetFundID

LEFT JOIN	dailyFundStatus dfs
ON		f.hiPortfolioCode = dfs.hiPortfolioCode
	AND	dfs.StatusDate >= dbo.udf_GetCurrentPricingDayForCompany(a.CompanyCode, null, null)
	AND	dfs.statusDate < dbo.udf_GetNextPricingDayForCompany(a.CompanyCode, null, null)

WHERE	
	f.deleted = 0
	AND	a.deleted = 0

ORDER BY	f.ShortName







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

