SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundCheckDuplication]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundCheckDuplication]
GO




CREATE procEDURE dbo.usp_FundCheckDuplication (@hiPortfolioCode char(10), @securityCode varchar(8), @fullName varchar(100), @shortName varchar(50), @fullNameExists bit output, @shortNameExists bit output, @securityCodeExists bit output) AS 

SET NOCOUNT ON

IF @hiPortfolioCode is null
	RAISERROR ('@hiPortfolioCode must be provided (null supplied)', 11, 1)
ELSE IF len(@hiPortfolioCode) = 0
	RAISERROR ('@hiPortfolioCode must be provided (zero length string supplied)', 11, 1)
ELSE
	IF not EXISTS (SELECT * FROM Funds WITH (NOLOCK) where hiPortfolioCode = @hiPortfolioCode)
		RAISERROR ('this check must be for an existing fund', 11, 1)

IF @securityCode is not null AND len(@securityCode) > 0
	IF EXISTS (SELECT * FROM Funds WITH (NOLOCK) where securityCode = @securityCode and hiPortfolioCode <> @hiPortfolioCode)
		SET @securityCodeExists = 1
	ELSE
		SET @securityCodeExists = 0
ELSE
	SET @securityCodeExists = 0

IF @fullName is not null AND len(@fullName) > 0
	IF EXISTS (SELECT * FROM Funds WITH (NOLOCK) where fullName = @fullName and hiPortfolioCode <> @hiPortfolioCode)
		SET @fullNameExists = 1
	ELSE
		SET @fullNameExists = 0
ELSE
	SET @fullNameExists = 0

IF @shortName is not null AND len(@shortName) > 0
	IF EXISTS (SELECT * FROM Funds WITH (NOLOCK) where shortName = @shortName and hiPortfolioCode <> @hiPortfolioCode)
		SET @shortNameExists = 1
	ELSE
		SET @shortNameExists = 0
ELSE
	SET @shortNameExists = 0

SET NOCOUNT OFF



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

