SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AssetFundCheckExistence]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AssetFundCheckExistence]
GO








CREATE procEDURE dbo.usp_AssetFundCheckExistence (@assetFundID char(8), @fullName varchar(100), @shortName varchar(50), @assetFundIDExists bit output, @fullNameExists bit output, @shortNameExists bit output) AS 

SET NOCOUNT ON

IF @assetFundID is null 
	SET @assetFundIDExists = 0
ELSE IF len(@assetFundID) = 0
	SET @assetFundIDExists = 0
ELSE
	IF EXISTS (SELECT * FROM AssetFunds WITH (NOLOCK) where assetFundID = @assetFundID)
		SET @assetFundIDExists = 1
	ELSE
		SET @assetFundIDExists = 0

IF @fullName is not null AND len(@fullName) > 0
	IF EXISTS (SELECT * FROM AssetFunds WITH (NOLOCK) where fullName = @fullName)
		SET @fullNameExists = 1
	ELSE
		SET @fullNameExists = 0
ELSE
	SET @fullNameExists = 0

IF @shortName is not null AND len(@shortName) > 0
	IF EXISTS (SELECT * FROM AssetFunds WITH (NOLOCK) where shortName = @shortName)
		SET @shortNameExists = 1
	ELSE
		SET @shortNameExists = 0
ELSE
	SET @shortNameExists = 0


SET NOCOUNT OFF







GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

