SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_PriceFilesUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_PriceFilesUpdate]
GO



CREATE PROCEDURE dbo.usp_PriceFilesUpdate
(
		@FileId			INT ,
		@PriceFileName 	VARCHAR(50),
		@Description 	VARCHAR(200),
		@Extension		CHAR(3),
		@CompanyCode	VARCHAR(10),
		@ts 			TIMESTAMP OUT
)

AS

SET NOCOUNT OFF

DECLARE @retVal INT
SET @retVal = 0

UPDATE    
	dbo.pricefiles
SET       
	extension=@Extension,
	description=@Description,
	filename=@PriceFileName
WHERE     
	PriceFilesId = @FileId
	AND	  ts = @ts
	
IF @@ROWCOUNT = 0 
	BEGIN
	RAISERROR('Concurrency violation', 11, 1)
	SET @retVal = -1
	END	
ELSE
	BEGIN

	-- Get timeStamp from inserted row passing back to client
	SELECT @ts = ts
	FROM dbo.pricefiles
	WHERE PriceFilesId = @FileId
	END

SET NOCOUNT ON

RETURN (@retVal)


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

