SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.usp_ReportResults    Script Date: 27/09/2005 09:25:48 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ReportResults]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ReportResults]
GO

CREATE PROCEDURE dbo.usp_ReportResults 

@Result VARCHAR (50)

AS

UPDATE Report_Results
SET 	  RunDate = GETDATE()
	, Result = @Result

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

