SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedCompositeFundSplitListForSnapshotID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedCompositeFundSplitListForSnapshotID]
GO








CREATE procEDURE dbo.usp_ImportedCompositeFundSplitListForSnapshotID
	@iSnapshotID bigint
AS
set nocount on
select 
	assetFundId as [Asset Fund], 
	hiPortfolioCode as [Hi3 Portfolio Code],
	proportion as [Weighting]	
from benchmarksplit
where SnapshotId = @iSnapshotID
set nocount off









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

