SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_AuthorisedFundPriceCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_AuthorisedFundPriceCreate]
GO















CREATE PROCEDURE dbo.usp_AuthorisedFundPriceCreate 

-- Authorises the passed fund.
-- The created record enables the price to be completely recreated
-- KAJ 31/05/05

-- Added @mImportedPrice parameter to store imported price along with predicted price
-- RRN 09/06/05

-- Offer, Mid and Bare Prices now stored on authorisedfundprice table
-- KAJ 09/06/05


	-- common properties
	@cHiPortfolioCode char(10),
	@cAssetFundID char(8),
	@mPrice money,
	@bIsBidPriceMidPrice bit,
	@bWasFromPrediction bit = 0,
	@iFundPriceSnapshotID bigint,
	@iTolerancesID int,
	-- fund price properties
	@iTaxProvisionFactorID int,
	@iRevaluationFactorID int,
	@iScalingFactorID int,
	@iXFactorID int,
	@dValuationBasisEffect decimal(10,6),
	-- asset properties
	@mAssetUnitPrice money,
	@iCurrencyRateSnapshotID bigint,	-- for non-composites only
	@iMarketIndiciesSnapshotID bigint,	-- for non-composites only
	@iFundIndexWeightingsID bigint, -- for non-composites only
	@compositeFundSplitImportID bigint, -- for composites only
	@mImportedPrice money,
	-- predicted price data
	@mPredictedFundPrice money = 0,
	@mPredictedAssetFundPrice money = 0,
	-- timestamp for new record
	@ts timestamp output,
	@authorisationDate datetime output
AS

set nocount on

--declarations
declare		@today datetime
declare		@iAuthorisedAssetFundPriceID bigint
declare		@dtValuationPoint datetime
declare		@cCurrencyCode varchar(10)
declare		@dtPredictedValuationPoint datetime
declare		@iValuationBasisID int
--KAJ 09/06/2005
DECLARE		@mOfferPrice money
DECLARE		@mMidPrice money
DECLARE		@mBarePrice money

-- set @today to midnight this morning
set @today = dbo.udf_GetCurrentPricingDayForCompany(null, @cAssetFundID, null)

--Verify fund exists
if not exists(select hiPortfolioCode from funds where hiPortfolioCode = @cHiPortfolioCode)
  begin
    raiserror('Unknown fund code %s', 11, 1, @cHiPortfolioCode)
    return (-1)
  end

--Verify fund status is acceptable (concurrency check)
  if dbo.udf_getCurrentFundStatus(@cHiPortfolioCode, @today) >= 30
  begin
    raiserror('Fund status is already authorised or beyond', 11, 1)
    return (-1)
  end

--Only allow authorisation of prediced unimported prices
if COALESCE(@iFundPriceSnapshotID, 0) = 0 AND @bWasFromPrediction = 0
	BEGIN
		RAISERROR('Cannot authorise the imported price if no price imported', 11, 1)
		RETURN (-1)
	END
		
-- authorise the asset fund if it hasn't been already
exec @iAuthorisedAssetFundPriceID = usp_AssetFundAuthorise	@today,
								@cAssetFundID,
								@mAssetUnitPrice,
								@bWasFromPrediction,
								@iCurrencyRateSnapshotID,
								@iMarketIndiciesSnapshotID,
								@iFundIndexWeightingsID,
								@compositeFundSplitImportID,
								@iFundPriceSnapshotID,
								@iTolerancesID,
								@mPredictedAssetFundPrice

--set valuation point and currency code depending on whether price is predicted
--KAJ (09/06/2005) Also set Offer, Mid and Bare Prices from imported price table
if (@bWasFromPrediction = 0)
	select		@dtValuationPoint = valuationPoint,
			@cCurrencyCode = currencyCode,
			@mOfferPrice = unroundedOfferPrice,
			@mBarePrice = barePrice,
			@mMidPrice =	CASE @bIsBidPriceMidPrice	WHEN 1 THEN unroundedBidPrice
									WHEN 0 THEN (unroundedBidPrice + unroundedOfferPrice)/2
					END 			
	from		importedFundPrices
	where		SnapshotID = @iFundPriceSnapshotID
		and	hiPortfolioCode = @cHiPortfolioCode
else
	begin
		--check to see if there is a specific valuation point for this fund
		select		@dtPredictedValuationPoint = fundSpecificValuationPoint
		from		funds
		where		hiPortfolioCode = @cHiPortfolioCode

		if		@dtPredictedValuationPoint is null
			--get the company generic valuation point
			select		@dtPredictedValuationPoint = valuationPoint
			from		funds
			inner join	AssetFunds
			on		(funds.AssetFundID = AssetFunds.AssetFundID)
			inner join	HBOSCompanies
			on		(AssetFunds.CompanyCode = HBOSCompanies.CompanyCode)
			where		hiPortfolioCode=@cHiPortfolioCode

		--clean up the valuation point		
		select	@dtValuationPoint = left(convert(varchar(10), 
				dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode), 102), 10) + ' ' +
				convert(varchar(8), @dtPredictedValuationPoint, 108)

		--get the currency code
		select top 1	@cCurrencyCode = currencyCode 
		from		AuthorisedFundPrice 
		where		hiPortfolioCode = @cHiPortfolioCode
			and	deleted = 0
		order by	authorisationDate desc

		set @cCurrencyCode = COALESCE(@cCurrencyCode, 'GBP')

		--KAJ 09/06/05
		--set the offer, mid and bare price (previous authorised value * todays movement)
		SELECT TOP 1	@mOfferPrice = distributedOfferPrice *
					((@mPredictedFundPrice - @mImportedPrice)/@mImportedPrice),
				@mMidPrice =	CASE @bIsBidPriceMidPrice WHEN 1 THEN
							@mPredictedFundPrice
						ELSE ((distributedOfferPrice *
					((@mPredictedFundPrice - @mImportedPrice)/@mImportedPrice)) +
						@mPredictedFundPrice) /2 END,
				@mBarePrice = distributedBarePrice * 
					((@mPredictedFundPrice - @mImportedPrice)/@mImportedPrice)
		FROM		AuthorisedFundPrice
		WHERE		hiPortfolioCode = @cHiPortfolioCode
			AND	deleted = 0
			AND	authorisationDate < @today
		ORDER BY	authorisationDate DESC
	end

--Deactivate any valuation basis created for this fund today
UPDATE		valuationBasis
SET		deleted = 1
WHERE		hiPortfolioCode = @cHiPortfolioCode
	AND	appliedDate >= @today

--store any valuation basis
IF	COALESCE(@dValuationBasisEffect,0) <> 0
	BEGIN
		INSERT INTO	valuationBasis
		(
			hiPortfolioCode,
			valuationBasisEffect,
			appliedDate
		)
		VALUES(
			@cHiPortfolioCode,
			@dValuationBasisEffect,
			dbo.udf_GetCurrentPricingDayForCompany(null, null, @cHiPortfolioCode)
		)
		SET	@iValuationBasisID = SCOPE_IDENTITY()
	END

--authorise the fund
insert into	AuthorisedFundPrice
	(
		hiPortfolioCode,
		authorisationDate,
		price,
		currencyCode,
		valuationPoint,
		wasFromPrediction,
		fundPriceSnapshotID,
		authorisedAssetFundPriceID,
		tolerancesID,
		taxProvisionFactorID,
		revaluationFactorID,
		scalingFactorID,
		xFactorID,
		valuationBasisID,
		deleted,
		wasMidPriceBidPrice,
		predictedPrice,
		importedPrice,
		distributedOfferPrice,
		distributedMidPrice,
		distributedBarePrice
	)
	values (
		@cHiPortfolioCode, 
		@today,
		@mPrice, 
		@cCurrencyCode,
		@dtValuationPoint,
		@bwasFromPrediction, 
		@iFundPriceSnapshotID,
		@iAuthorisedAssetFundPriceID,
		@iTolerancesID,
		@iTaxProvisionFactorID, 
		@iRevaluationFactorID,
		@iScalingFactorID, 
		@iXFactorID,
		@iValuationBasisID,
		0,
		@bIsBidPriceMidPrice,
		@mPredictedFundPrice,
		@mImportedPrice,
		@mOfferPrice,
		@mMidPrice,
		@mBarePrice
	)

--update the status
execute		usp_DailyFundStatusUpdate @cHiPortfolioCode, 30

--return the authorised timestamp and status changed time
SELECT     top 1 @ts = AuthorisedFundPrice.ts, @authorisationDate=DailyFundStatusAuditTrail.changeDateTime
FROM         AuthorisedFundPrice INNER JOIN
                      DailyFundStatusAuditTrail ON AuthorisedFundPrice.hiPortfolioCode = DailyFundStatusAuditTrail.hiPortfolioCode
WHERE     (AuthorisedFundPrice.hiPortfolioCode = @cHiPortfolioCode) AND (AuthorisedFundPrice.authorisationDate = @today)
			and changedto=30
ORDER BY changeDateTime DESC 
















GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

