SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[kaj_AssetFundAuthorise]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[kaj_AssetFundAuthorise]
GO

CREATE    PROC dbo.kaj_AssetFundAuthorise

-- New sp that is called by the fund authorise sp.  Not called by application.
-- Rewritten for new benchmark split structure 

	-- asset fund properties
	@today				datetime,
	@cAssetFundID			char(8),
	@mAssetUnitPrice		money,

	-- foreign keys
	@iCurrencyRateSnapshotID	bigint,
	@iMarketIndiciesSnapshotID	bigint,
	@iBenchmarkSplitSnapshotID	bigint,
	@iFundPriceSnapshotID		bigint,
	@iTolerancesID			int,
	@dAssetMovement		decimal (12, 6)

AS

DECLARE @iAuthorisedAssetFundPriceID bigint

--get the id of the authorised asset fund (if another fund in this asset fund has already been authorised)
select		@iAuthorisedAssetFundPriceID = authorisedAssetFundPriceID
from		AuthorisedAssetFundPrice
where		assetFundID = @cAssetFundID
	and	deleted = 0
	and	active = 1
	and	authorisationDate >= @today
	and	authorisationDate < dbo.udf_GetNextPricingDayForCompany(null, @cAssetFundID, null)

--if the asset fund hasnt yet been authorised we need to do that now
if @iAuthorisedAssetFundPriceID is null
	begin
		insert into	AuthorisedAssetFundPrice
				(
					assetFundID,
					authorisationDate,
					assetUnitPrice,
					currencyRateSnapshotID,
					importedFundPricesID,
					marketIndiciesSnapshotID,
					tolerancesID,
					benchmarkSplitSnapshotID,
					assetMovement
				)
				values (
					@cAssetFundID,
					@today,
					@mAssetUnitPrice,
					@iCurrencyRateSnapshotID,
					@iFundPriceSnapshotID,
					@iMarketIndiciesSnapshotID,
					@iTolerancesID,
					@iBenchmarkSplitSnapshotID,
					@dAssetMovement
				)        
		--store the id of the newly authorised asset fund		
		set	@iAuthorisedAssetFundPriceID = SCOPE_IDENTITY()

		--deactivate all other authorisations of this asset fund
		update		AuthorisedAssetFundPrice
		set		active = 0
		where		assetFundID = @cAssetFundID
			and	authorisedAssetFundPriceID <> @iAuthorisedAssetFundPriceID
			and	active = 1

		--add any authorised fund benchmark records
		INSERT INTO	authorisedFundBenchmarks
				(authorisedAssetFundPriceID,
				authorisedFundPriceID)
					
		SELECT		@iAuthorisedAssetFundPriceID,
				afp.authorisedFundPriceID
		
		FROM		benchmarkSplit bs

		INNER JOIN	AuthorisedFundPrice afp
		ON		bs.hiportfolioCode = afp.hiportfolioCode
			AND	afp.authorisationDate >= @today
			AND	afp.deleted = 0

		WHERE		bs.assetFundID = @cAssetFundID
			AND	bs.snapshotID = @iBenchmarkSplitSnapshotID
			AND	bs.hiPortfolioCode IS NOT NULL

	end

-- return the ID of the new or existing authorised asset fund
return @iAuthorisedAssetFundPriceID

GO




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

