SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGroupDelete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGroupDelete]
GO










CREATE  PROCEDURE dbo.usp_FundGroupDelete

-- KAJ	26/05/05	New version that ensures there are no funds associated,
--			and deletes file associations

	@ifundGroupID int,
	@ts timestamp
AS

set nocount on

--Make sure there are no associations for this fund group
IF	(
		SELECT		COUNT(*)
		FROM		fundsInFundGroups
		WHERE		FundGroupID = @ifundGroupID
	) +
	(
		SELECT		COUNT(*)
		FROM		assetFundsInFundGroups
		WHERE		FundGroupID = @ifundGroupID
	) > 0 

	BEGIN
		RAISERROR('Cant delete Fund Groups with active associations', 11, 1)
		RETURN (-1)
	END
ELSE
	BEGIN
		--Set fund group to deleted
		UPDATE		fundGroups
		SET		deleted = 1
		WHERE		fundGroupID = @iFundGroupID
			AND	ts=@ts

		IF @@ROWCOUNT = 0 
		BEGIN
			RAISERROR('Concurrency violation', 11, 1)
			RETURN (-1)
		END
		ELSE
		BEGIN
			--Remove all file associations
			DELETE FROM	fundGroupsInFiles
			WHERE		fundGroupID = @ifundGroupID				
		END
	END

set nocount off










GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

