SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_ImportedSplitWorkingTableCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_ImportedSplitWorkingTableCreate]
GO









CREATE PROCEDURE dbo.usp_ImportedSplitWorkingTableCreate
@SnapshotID bigint,
@primaryKey	varchar(25),
@secondaryKey	varchar(25),
@importedValue decimal(18,4)


AS
set nocount on
INSERT INTO ImportedSplitWorkingTable( SnapshotID , primaryKey , secondaryKey, importedValue)
VALUES( @SnapshotID , @primaryKey , @secondaryKey , @importedValue)
set nocount on









GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

