SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_HBOSCompanyGetForCompanyCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_HBOSCompanyGetForCompanyCode]
GO








CREATE  procEDURE dbo.usp_HBOSCompanyGetForCompanyCode
  @sCompanyCode varchar(10)
AS
  set nocount on
  
  select	companyCode,
		companyName,
		valuationPoint,
		activePricingDay,	
		dbo.udf_GetNextPricingDayForCompany(companyCode,null,null) as nextPricingDay,
		defaultImportSource,
		ts,
		dbo.udf_GetPreviousPricingDayForCompany(companyCode,null,null) as previousPricingDay
		
    from HBOSCompanies
  where
    companyCode = @sCompanyCode and
    deleted = 0
  set nocount off






GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[usp_HBOSCompanyGetForCompanyCode]  TO [public]
GO

