SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_FundGroupUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_FundGroupUpdate]
GO




CREATE  PROCEDURE dbo.usp_FundGroupUpdate
--KAJ 16/05/05 Updated for new properties
	@iFundGroupID int,
	@cContainsType char(1),
	@sFullName varchar(100),
	@sShortName varchar(50),
	@bForRelease bit,
	@bAllowSelectAllAuthorisation bit,
	@ts timestamp output
AS

set nocount on

--KAJ 16/05/05
--Cant change the fundType if some funds are associated
IF	@cContainsType <> (	SELECT	ContainsType
				FROM	FundGroups
				WHERE	FundGroupID = @iFundGroupID)
	BEGIN

		IF (	SELECT	Count(*)
			FROM	FundsInFundGroups
			WHERE	FundGroupID = @iFundGroupID
			AND	deleted = 0) > 0
		OR (	SELECT	Count(*)
			FROM	AssetFundsInFundGroups
			WHERE	FundGroupID = @iFundGroupID
			AND	deleted = 0) > 0
			BEGIN
				RAISERROR('The Fund Group Type cannot be changed when there are associations', 11, 1)
				RETURN (-1)
			END
	END

update	FundGroups
set	fullName = @sFullName,
	shortName = @sShortName,
	containsType = @cContainsType,
	forRelease = @bForRelease,
	allowSelectAllAuthorisation = @bAllowSelectAllAuthorisation

where	fundGroupID = @iFundGroupID
and	ts = @ts

if @@ROWCOUNT = 0 
	begin
		raiserror('Concurrency violation', 11, 1)
		return (-1)
	end

SELECT		@ts = ts
FROM		FundGroups
WHERE		FundGroupID = @iFundGroupID

set nocount off



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

