SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_StockMarketCreate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_StockMarketCreate]
GO




CREATE PROCEDURE dbo.usp_StockMarketCreate
(
	@indexName		VARCHAR(50),
	@countryCode 	VARCHAR(5),
	@global			BIT,
	@ts 			TIMESTAMP OUT,
	@marketIndexId	INT OUT
)

AS

	DECLARE @retVal INT
	SET @retVal = 0

	INSERT INTO dbo.marketindices
		(   
			indexName,
			countryCode,
			[global]
		)
	VALUES  
		(  
			@indexName,
			@countryCode,
			@global
		)
		
	-- Get timeStamp from inserted, and pass back to client
	SELECT 
		@ts = ts,
		@marketIndexId=@@IDENTITY
	FROM 
		dbo.marketindices
	WHERE 
		marketindexid = @@IDENTITY
	

SET NOCOUNT OFF

RETURN (@retVal)



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

