SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_CurrenciesList]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_CurrenciesList]
GO


CREATE procEDURE dbo.usp_CurrenciesList AS
  set nocount on
  select currencyCode, 
    currency, 
    ts 
  from currencies 
  where deleted = 0
  order by currency
  set nocount off




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

