<enterpriseLibrary.ConfigurationSource selectedSource="Sql Configuration Source">
  <sources>
    <add name="Sql Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.SqlConfigurationSource, Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" connectionString="Password=Temporary;Persist Security Info=True;User ID=ASPNET;Initial Catalog=DiscoveryStaging;Data Source=robins" getStoredProcedure="EntLib_GetConfig" setStoredProcedure="EntLib_SetConfig" refreshStoredProcedure="UpdateSectionDate" removeStoredProcedure="EntLib_RemoveSection"/>
    <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </sources>
</enterpriseLibrary.ConfigurationSource>