<cruisecontrol>


  <project name="Discovery_Management_Server_Staging">
    <workingDirectory>c:\Discovery\ManagementServer\Source\Staging</workingDirectory>
    <artifactDirectory>c:\Discovery\ManagementServer\Artifacts\Staging</artifactDirectory>
    <webURL>http://delcopc/ccnet/server/local/project/Discovery_Management_Server_Staging/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>0</modificationDelaySeconds>


    <triggers></triggers>

    <labeller type="defaultlabeller">
      <prefix>Staging-</prefix>
      <incrementOnFailure>true</incrementOnFailure>
    </labeller>


    <sourcecontrol type="vss">
      <executable>C:\Program Files\Microsoft Visual SourceSafe\ss.exe</executable>
      <project>$/Management Server/</project>
      <username>ccnet_usr</username>
      <password>ccnetuser</password>
      <ssdir>\\robins\delivery_share\VSS</ssdir>
      <workingDirectory>c:\Discovery\ManagementServer\Source\Staging</workingDirectory>
      <applyLabel>true</applyLabel>
      <autoGetSource>true</autoGetSource>
      <cleanCopy>true</cleanCopy>
    </sourcecontrol>


    <tasks>

      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\MSBuild.exe</executable>
        <workingDirectory>c:\Discovery\ManagementServer\Source\Staging\Discovery\</workingDirectory>
        <projectFile>c:\Discovery\ManagementServer\Source\Staging\Discovery\Discovery.sln</projectFile>
        <buildArgs>/noconsolelogger /p:Configuration=Staging /p:Platform="Any CPU" /v:diag</buildArgs>
        <targets>Build</targets>
        <logger>ThoughtWorks.CruiseControl.MsBuild.XmlLogger,Solution Items\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
      <exec executable="c:\Discovery\ManagementServer\Source\Staging\StagingBuildSolution.bat"/>

  
      <exec  executable="c:\Discovery\ManagementServer\Source\Staging\Discovery\Solution Items\Staging\CleanStaging.bat"/>

    </tasks>

    <publishers>
      <merge>
        <files>
          <file>C:\Discovery\ManagementServer\artifacts\staging\msbuild-results.xml</file>

        </files>
      </merge>

      <xmllogger logDir="Logs\Staging" />
    </publishers>

  </project>




</cruisecontrol>