<connectionStrings>
  <add name="DiscoveryDB" connectionString="Database=DiscoveryStaging;Server=robins;User=ASPNET;Password=Temporary;" providerName="System.Data.SqlClient"/>
  <!--<add name="DiscoveryDB" connectionString="Database=Discovery;Server=LSPRINGSLT\SQLEXPRESS;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
  <add name="Logging Database" connectionString="Database=Logging;Server=robins;User=ASPNET;Password=Temporary;Enlist=False;" providerName="System.Data.SqlClient"/>
  <!--<add name="Logging Database" connectionString="Database=Logging;ServerLSPRINGSLT\SQLEXPRESS;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
</connectionStrings>
