.MainGroup
{
	border-style: outset;
	border-width: thin;
	border-color: White;
}

.MainItem
{
	background-color: #009AFF;
	color: White;
	cursor: hand;
	font-family: Arial;
	font-size : 10;
}

.MainItemOver
{
	background-color: #FFBAAD;
	color: Black;
	cursor: hand;
	font-family: Arial;
	font-size : 10;
}