<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Discovery -->
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="integrationdata" type="Discovery.Utility.Configuration.ProviderConfigurationHandler, Discovery.Utility" />
    <section name="data" type="Discovery.Utility.Configuration.ProviderConfigurationHandler, Discovery.Utility" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Sql Configuration Source">
    <sources>
      <add name="Sql Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.SqlConfigurationSource, Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        connectionString="Integrated Security=SSPI;Persist Security Info=True;Initial Catalog=Discovery;Data Source=robins"
        getStoredProcedure="EntLib_GetConfig" setStoredProcedure="EntLib_SetConfig"
        refreshStoredProcedure="UpdateSectionDate" removeStoredProcedure="EntLib_RemoveSection" />
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <!--How often the database table of tasks are checked in seconds-->
    <add key="checkTasksInterval" value="0" />
    <!--When a task fails, how long (in seconds) should the next scheduled run of that task be postponed by-->
    <add key="TaskFailureSleep" value="180" />
    <add key="EmailServerName" value="tigger" />
    <add key="FromAddress" value="MS@roberthorne.co.uk" />
    <add key="SMTPPort" value="25" />
  </appSettings>
  <!--DATA Providers-->
  <integrationdata defaultProvider="IntegrationDataProvider">
    <providers>
      <clear />
      <!--SQL Server-->
      <add name="IntegrationDataProvider" type="Discovery.Integration.DataAccess.SQLDataAccessProvider, Discovery.Integration" connectionstring="IntegrationDB" objectQualifier="Integration" databaseOwner="dbo" upgradeConnectionString="" />
    </providers>
  </integrationdata>
  <data defaultProvider="SqlDataProvider">
    <providers>
      <clear />
      <!--SQL Server-->
      <add name="SqlDataProvider" type="Discovery.ComponentServices.DataAccess.SQLDataAccessProvider, Discovery.SQLDataAccessProvider" connectionstring="DiscoveryDB" objectQualifier="Discovery" databaseOwner="dbo" upgradeConnectionString="" />
    </providers>
  </data>
</configuration>