<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <!-- Discovery -->
    <section name="data" type="Discovery.Utility.Configuration.ProviderConfigurationHandler, Discovery.Utility" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Sql Configuration Source">
    <sources>
      <add name="Sql Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.SqlConfigurationSource, Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        connectionString="User ID=ASPNET;Password=Temporary;Persist Security Info=True;Initial Catalog=Discovery;Data Source=robins;Enlist=false"
        getStoredProcedure="EntLib_GetConfig" setStoredProcedure="EntLib_SetConfig"
        refreshStoredProcedure="UpdateSectionDate" removeStoredProcedure="EntLib_RemoveSection" />
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <add key="QAWORLD_INI" value="c:\Program Files\QAS\QuickAddress Batch API\QAWORLD.ini" />
    <add key="OptrakDropsFileName" value="calls.txt" />
    <add key="OptrakTripsFileName" value="trips.txt" />
    <add key="OptrakTripPartFileName" value="trippart.txt" />
    <add key="EmailServerName" value="tigger" />
    <add key="FromAddress" value="MS@roberthorne.co.uk" />
    <add key="SMTPPort" value="25" />
    <add key="InvalidAddressExceptionBody" value="&#xD;&#xA;The Shipment number '{0}', Despatch Number '{1}' has been found to have an invalid address. To correct this problem please follow this link:&#xD;&#xA;&#xD;&#xA;http://localhost/Discovery.UI/Shipments/TDCShipment.aspx?Id={2}&#xD;&#xA;&#xD;&#xA;When you reach the Shipment detail screen please Edit the shipment, correct the Shipment Address and click the 'Lookup Address' button followed by the Save button." />
  </appSettings>
  <!--DATA Providers-->
  <data defaultProvider="SqlDataProvider">
    <providers>
      <clear />
      <!--SQL Server-->
      <add name="SqlDataProvider" type="Discovery.ComponentServices.DataAccess.SQLDataAccessProvider, Discovery.SQLDataAccessProvider" connectionstring="DiscoveryDB" objectQualifier="Discovery" databaseOwner="dbo" upgradeConnectionString="" />
    </providers>
  </data>
</configuration>