<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.windows.forms jitDebugging="true" />
	<appSettings>
		<add key="Bob ConnectionString" value="Data Source=MAINSERVER\MAINSERVER; Initial Catalog=Bob; Integrated Security=SSPI;" />
		<add key="OlymarsDebugCheck" value="True" />
	</appSettings>
</configuration>
