<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="EntitySpaces" type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Core">
			<section name="connectionInfo" type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	<EntitySpaces>
		<connectionInfo default="SQL">
			<connections>
				<add name="SQL" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=LAPTOP-VISTA;Initial Catalog=OMAM;Integrated Security=True" databaseVersion="2005"/>
			</connections>
		</connectionInfo>
	</EntitySpaces>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation></system.web>
</configuration>
